[2017-08-05 07:04] mrxten opened #1 "Xamarin.Forms port"
Will be renderers with bindable properties for XF?

[2017-08-05 20:28] aloisdeniel commented on #1
Yes, it's planned! It will be available soon as a separate NuGet package including a `ChartView` with a bindable `Chart` property.

Until the release, you can still create a skia view and use the `Draw` method from the Chart in the Paint event.

[2017-08-06 15:04] mrxten commented on #1
Thanks, I will try and will wait XF package :)

[2017-08-08 15:36] mrxten commented on #1
I tried, your library cannot be installed to PCL xamarin forms.

[2017-08-08 20:58] aloisdeniel commented on #1
Only NET Standard was supported until now... :(

I just pushed the **Microcharts.Forms** package for PCL, it's available here:

[![NuGet](https://img.shields.io/nuget/v/Microcharts.Forms.svg?label=NuGet)](https://www.nuget.org/packages/Microcharts.Forms/)

I've also added a Xamarin.Forms control :

[code]

[code]

Tell me if it's fine for you!

[2017-08-08 20:58] #1 closed

[2017-08-09 08:15] mrxten commented on #1
Thanks for PCL, but you incorrect named BindableProperty and binding doesn't work.
I was should use hotfix:
[code]

[2017-08-09 08:28] mrxten opened #2 "FontSize for labels"
Please add FontSize for labels.
How does look charts now in FullHD displays:
![image](https://user-images.githubusercontent.com/13070572/29112200-c16947c8-7cf5-11e7-9f57-c35f18d29a0f.png)

[2017-08-09 20:02] mrxten commented on #2
And also I suggest add rotate labels functional in bar, line charts like in oxyplot. It's needed for fit full text.

[2017-08-10 06:13] HoussemDellai opened #4 "Changing the name Entry"
Entry exists in both Xamarin.Forms and Microcharts namespaces, which confuses users.

[2017-08-10 11:02] aloisdeniel commented on #4
You're right. I'll rename it as `DataEntry`.

[2017-08-10 16:58] LPAMNijoel opened #5 "Question about mobile touch gesture support?"
Does Microcharts have mobile touch support to view data? e.g.( touch a actual point and the data is displayed over it)

[2017-08-10 19:08] aloisdeniel commented on #5
I didn't want to add this since all the charts should stay as simple and clear as possible. I'm thinking of adding a way to highlight a selected entry through.

[2017-08-10 19:11] aloisdeniel commented on #2
Thanks for the feedback, the text is to small for sure yes. I'll fix it.

For the rotated text, it was like this before but I didn't like it. I could definitively add an option however.

[2017-08-10 20:01] c-wiens opened #6 "Does not display when another type of View is present - Xamarin.Forms trying iOS"
Microcharts is absolutely gorgeous and wonderful, however when I attempt to put it on a page along with any other View-based element (Label, ScrollView, Grid, etc.), the chart becomes invisible.

For example:
`<forms:ChartView x:Name="ServicesChart" HeightRequest="50" />`
will show perfectly fine, however if my file has this:
`<forms:ChartView x:Name="ServicesChart" HeightRequest="50" />
    <Labe

[2017-08-11 14:58] LPAMNijoel commented on #5
I mean that would be ideal, in my opinion. I understand you want to keep the charts clear, and concrete as possible. however, If you can add a way like you mentioned to highlight over the entry then, display the data then that should suffice. Thanks for the fast response! :D

[2017-08-15 21:44] aloisdeniel commented on #2
I forgot, but you should already have access to a `LabelFontSize` property available from `Chart` instances.

[2017-08-15 21:47] aloisdeniel commented on #1
I just pushed an update (`0.6.2`) to fix it.

[2017-08-15 21:50] aloisdeniel commented on #6
Strange, the available sample for forms has a `ScrollView` and works for me ...

Are you sure you've put your controls inside a container view (`Grid`, `StackLayout`) ?

[code]

[2017-08-15 22:32] jzeferino opened #9 "Add information about code conventions/contributing guide."
The project need information about code conventions/contributing guide.

I can help if you tell me what is the plan.

[2017-08-16 08:17] aloisdeniel commented on #9
You're right! The project started as an experimentation, but now it's more widely used I have to create this.

I will add a StyleCop settings file very soon to clarify coding conventions and later write a contribution guide.

[2017-08-21 14:27] c-wiens commented on #6
Thank you!

Turns out, I'm just inexperienced at Xaml and had to put the additional elements in a master grid.

`<ScrollView>
        <StackLayout>
            <Grid RowSpacing="0">
                <Grid.RowDefinitions>
                    <RowDefinition Height="325" />
                    <RowDefinition Height="1000" />
                </Grid.RowDefinitions>
                <forms:ChartView x:Nam

[2017-08-21 14:27] #6 closed

[2017-08-23 12:49] mrxten opened #10 "Wrong dependencies."
![image](https://user-images.githubusercontent.com/13070572/29616556-95c0b194-881a-11e7-9f7c-095fbb88785b.png)
Seriously?

[2017-08-30 22:53] netapau opened #11 "LineChart Causes Error on UWP:"
We chose MicroCharts.Forms 0.6.2 because there is an issue of dependencies on 0.7.0
Xamarin.Forms 2.3.4.267
SkiaSharp 1.59.1

Cf: https://github.com/netapau/HeyMicrochart
https://github.com/netapau/HeyMicrochart/blob/master/IOException.txt

[2017-09-04 11:04] cabauman opened #12 "Class Library (Portable Legacy) Compatibility"
Project Type: Native Android & iOS (not forms)

I'm trying to add Microcharts to a "Class Library (Legacy Portable)" project, but the latest version (0.7.0) won't install because it's not compatible. However, 0.5.2 installs fine. .Net Standard is the future, so I'd like to ditch Legacy Portable, but my project is structured around ReactiveUI and the latest stable version (7.4.0) is not .Net Standa

[2017-09-05 12:37] chahid7 opened #13 "issue with large data."
When I have a large amount of data the labels and bars overlap .. a zoom in out option would help if it exist

[2017-09-18 14:14] XShweta24 opened #14 "Can we make Microcharts Clickable."
I want to make the Microcharts clickable and get the clicked portion data. Is it possible?

[2017-09-19 07:38] #12 closed

[2017-09-19 19:43] aloisdeniel commented on #14
Technically it's perfectly doable, and that's a thing I'm working on!

I'm also thinking on how to make an entry visually focused.

Stay tuned!

[2017-09-19 19:47] aloisdeniel commented on #13
The main purpose of Microchart is to display an overview and not an in-depth scrollable chart (which I find simply horrible on mobile)! I prefer to have detail pages with simplier charts than one concentrating all sets of data.

But yes, I want to offer the possibility to have vertical labels and fix the issues with `DonutChart` layouts.

[2017-09-19 19:50] aloisdeniel commented on #11
Wow, stange behavior, I have to try your sample.

Anyway, Microcharts won't support PCL out of the box in future versions (switch to preview channel to have a look).

.NET Standard is the thing now, PCL is legacy and everything should be find by migrating to this unified platform.

[2017-09-19 19:52] aloisdeniel commented on #14
This issue is a duplicate of #5.

[2017-09-20 02:51] morphx666 opened #15 "Rename Microcharts.Forms"
Since there's no (easy to find) information detailing the differences between the nuget packages `Microchart` and `Microchart.Forms`, I think it'd be very useful to rename `Microchart.Forms` to `Microchart.XamarinForms`.

[2017-09-20 06:25] chahid7 commented on #13
Thank you for your reply

[2017-09-20 19:03] christophedemey commented on #10
I also cannot install this on my native project because of this dependency : -(

[2017-09-20 19:07] christophedemey commented on #15
@morphx666  are you even able to install the Microcharts.Forms on your native project ?
It's got a restraint for Xamarin.Forms 3.0 which doesnt even exist :/
Please let me know if you got arround this.

[2017-09-20 20:10] aloisdeniel commented on #10
Try the preview package 0.7.1-pre. Thats because Xamarin.Forms for .NETStandard is in pre-release.

[2017-09-21 13:07] netapau commented on #11
Thanks Alois Deniel, I also think that .net standard is the best way. :)
I just saw James Montemagno make an excellent presentation with Microchart with a solution Xamarin.Forms Shared, congratulations!

[2017-09-25 21:30] morphx666 commented on #15
No, I didn't try to install it; I was just considering it for a future project, but the fact that I had to "research" which package to use, I though it might be a good idea to change their names to better reflect their purpose.

[2017-09-25 21:52] aloisdeniel commented on #15
The `Forms` is pretty common for *Xamarin.Forms* nuget packages (like `SkiaSharp.View` and `SkiaSharp.View.Forms`).

And now that it's beeing used it's more complex indicate users to migrate... :(

@christophedemey Try switching to alpha channel for a Xamarin.Forms 2.4.0 compatability (still in preview but supports .NET Standard).

[2017-09-26 14:43] samukbg commented on #13
Awesome job with Microcharts ! Any news about the vertical labels ?

[2017-09-26 19:21] christophedemey commented on #15
I saw this on dotnet conf as an example and did not know it was not production ready, switching to a preview build of xamarin i cant do that :-(
I guess i'll have to wait for xamarin 3 to be released.

[2017-09-26 19:27] aloisdeniel commented on #15
The 2.4 should be available really soon! I’ll publish the release package of Microcharts on the same day.

[2017-09-26 19:30] christophedemey commented on #15
@aloisdeniel thanks, looking forward to testing this component : -)

[2017-09-30 15:56] aloisdeniel commented on #15
It's now released in [version 0.7.1](https://www.nuget.org/packages/Microcharts.Forms/0.7.1)!

And as I said, I'm sorry but it will stay as `Microchars.Forms`.

[2017-09-30 15:57] #15 closed

[2017-09-30 15:57] aloisdeniel commented on #10
It's now released in [version 0.7.1](https://www.nuget.org/packages/Microcharts.Forms/0.7.1)!

[2017-09-30 15:58] #10 closed

[2017-10-01 16:00] deanilvincent opened #18 "Suggestion: Graph animations options on appearing"
It would be cool if there's an option to add animation on appearing. :)

[2017-10-03 11:58] kelvin195eclipse opened #19 "Works on Xamarin.iOS but not in Xamarin.Droid, System.IO.FileNotFoundException"
Hi fellows, I am new in Xamarin framework and currently using Xamarin.Forms to create an app with the Target Framework PCL4.5 profile 111. I have installed Microcharts.Forms nuget package and done the setup.
When I debug on iOS platform the chart generated perfectly, but on android platform, it crashes and display the following error.
![screen shot 2017-10-03 at 7 53 pm](https://user-images.github

[2017-10-06 13:30] aloisdeniel commented on #13
I'm currently rewriting the drawing system to have layers, and to be able to animate them. I'll work right after on the vertical layers.

[2017-10-06 13:47] chahid7 commented on #13
@samukbg .. I know it is better to specify the most important entries but in some cases the user is aksing  to see all his data.
Thank you @aloisdeniel  for your work .. waiting for the animation update.

[2017-10-06 13:50] aloisdeniel commented on #13
You should be able to insert a Chart view inside a scrollable area then.

You could also update the current state of the chart to simulate a zoom on a user interaction.

[2017-10-06 21:03] jamesmontemagno opened #20 "Microcharts should be dependency of Microcharts.Forms in NuGet"
If you put into appveyor this is easy to do like I do here: https://github.com/jamesmontemagno/FloatingActionButton-for-Xamarin.Android/blob/master/FloatingActionButtonForms.nuspec

else you would have to just match up the number manually.

[2017-10-07 18:52] TNoronha commented on #19
Same here, works fine with 0.7.1-pre version tho.

[2017-10-09 19:44] christophedemey commented on #19
Same here, only doing android.

[2017-10-09 19:52] christophedemey opened #21 "Nuget fails to install on PCL"
Hi

I created a new cross platform project, updated the nugets, tried to install Microcharts.Forms.
I get following error :
`
   Severity	Code	Description	Project	File	Line	Suppression State
   Error		Could not install package 'Microcharts.Forms 0.7.1'. You are trying to install this package
   into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not

[2017-10-09 20:15] aloisdeniel commented on #19
Hum strange behaviour. Do you use the Forms package?

[2017-10-10 07:56] kelvin195eclipse commented on #19
Hi guys, thanks for the replies.
Anyway I have found a way to make it works. All I have to do is only to build the app as release version and run it on real device, but I still have no idea why it doesnt work on debug mode and emulators.
You guys might have a try on that as a solution.

@aloisdeniel Yes I am using Microcharts.Forms. Anyway its a great package tho, thanks alot=)

[2017-10-10 19:54] aloisdeniel commented on #21
Hello,

I dropped the PCL support in version 7, but good news : I've reintroduced it into version 8 since it's asked very often! But I advise you to migrate to .NET Standard to be future proof.

You can try it [here in pre-release](https://www.nuget.org/packages/Microcharts/0.8.0-pre)!

This new version **also adds animation support** *(that can be deactivated with `IsAnimated` chart's property)*!

[2017-10-10 19:55] aloisdeniel commented on #20
Thanks James,

Don't know how I haven't figured it out....

I added it into last prerelese.

You can try it [here](https://www.nuget.org/packages/Microcharts/0.8.0-pre)!

This new version **also adds animation support** *(that can be deactivated with `IsAnimated` chart's property)*!

Looking for feedbacks before release!

[2017-10-10 19:56] aloisdeniel commented on #19
Thanks!

Can you try [the last prerelease version](https://www.nuget.org/packages/Microcharts/0.8.0-pre)?

This new version **also adds animation support** *(that can be deactivated with `IsAnimated` chart's property)*!

Looking for feedbacks before release!

[2017-10-10 19:57] aloisdeniel commented on #18
I just added it to [the last prerelease version](https://www.nuget.org/packages/Microcharts/0.8.0-pre)*(that can be deactivated with `IsAnimated` chart's property)*!

Looking for feedbacks before release!

[2017-10-10 19:58] christophedemey commented on #21
Hi @aloisdeniel

Thanks, i will try, any good tutorial on how to migrate to .NET standard ?

[2017-10-10 19:58] aloisdeniel commented on #11
Thanks!

Can you try [the last prerelease version](https://www.nuget.org/packages/Microcharts/0.8.0-pre)?

This new version **also adds animation support** *(that can be deactivated with `IsAnimated` chart's property)*!

Looking for feedbacks before release!

[2017-10-10 20:05] aloisdeniel commented on #21
The [official Microsoft docs](https://docs.microsoft.com/en-us/dotnet/standard/net-standard) are really well written, I always start by it.

You also have [a good article on the Xamarin blog](https://blog.xamarin.com/building-xamarin-forms-apps-net-standard/) on this particular subject.

[2017-10-11 09:29] hardik-jain-rapidd commented on #14
![dx](https://user-images.githubusercontent.com/30592297/31432503-6b32b99a-ae94-11e7-93d5-03800239cd2d.PNG)
As you can see I am trying to make a half doughnut chart but my labels seems to overlap.Can you guide me in the right path that avoids this overlapping issue.

[2017-10-11 09:43] hardik-jain-rapidd opened #22 "Overlapping of labels in half doughnut chart."
![gitdoughnut](https://user-images.githubusercontent.com/30592297/31434965-a0a4f7d0-ae9b-11e7-9c9e-88b4840306d3.PNG)

As you can see that two labels are overlapping when values are small relatively and close to each other.Can anybody guide me how to resolve this.

[2017-10-11 09:44] hardik-jain-rapidd opened #23 "Overlapping of labels in doughnut."
![dx](https://user-images.githubusercontent.com/30592297/31433167-1d168b68-ae96-11e7-88b6-fb5bfdd6527d.PNG)

 As you can see that two labels are overlapping when values are small relatively and close to each other.Can anybody guide me how to resolve this.

[2017-10-11 09:47] #23 closed

[2017-10-11 11:51] GyllionElderen opened #24 "Max value of chart"
Hello there, I'm using Microchart for Xamarin.Forms. Great tool so far! However, I found an interesting bug:

![microchart_maxvalue_bug](https://user-images.githubusercontent.com/32705616/31438886-634e23b8-ae8a-11e7-9929-aba219c6a77c.PNG)

According to the tutorial, the max value will become the value of the chart with the highest value. In my case, the max value of the chart is that divided by 2.

[2017-10-11 12:13] aloisdeniel commented on #22
You're right, If you have to many values onto a `RadialGaugeChart`, `DonutChart`, `PieChart` they overlap.

I'm working on it.

Your screen isn't from **Microcharts** through. :)

[2017-10-11 12:17] aloisdeniel commented on #24
Could you provide your chart initialization code? Not sure to understand your case...

If you define `chart.MaxValue = 400`, then your `February` column should be filled. Now if you define `chart.MaxValue = 800`, then your `February`  column should be half filled (like on your screenshot) and so on.

[2017-10-11 12:20] hardik-jain-rapidd commented on #22
This is  the requirement .So I had to tweak.

[2017-10-11 12:25] GyllionElderen commented on #24
Even if I put the MaxValue to 400, still no result. This is the code I was using:

[code]

[2017-10-11 13:21] aloisdeniel commented on #24
Okay, spotted the error.

I apologize, I'll publish an update very soon. :(

[2017-10-11 13:47] GyllionElderen commented on #24
Okay, I found out what the problem was. The animation was not working properly. For a temporary fix, try this:

`BarChart barChart = new BarChart{ IsAnimated = false };`

[2017-10-11 19:49] aloisdeniel commented on #24
Sad that you can't use animation.

I just published a [new pre-release](https://www.nuget.org/packages/Microcharts/0.8.2-pre) which include a fix related to `MaxValue`.

Is it better now?

[2017-10-11 21:26] aloisdeniel commented on #22
Sorry I have difficulties to understand what help you need.

You've modified the **Microcharts** `DonutChart` class to have your result but you have issues with label positions?

If so, I guess you should rely on [SKPaint.MeasureText](https://developer.xamarin.com/api/member/SkiaSharp.SKPaint.MeasureText/p/System.String/SkiaSharp.SKRect@/) method to calculate your label positions. Then you will ha

[2017-10-12 08:03] GyllionElderen commented on #24
I installed the new pre-release and the problem is still there. I figured that the animation cannot play. When loading is done, it shows only the current frame as following:

![capture](https://user-images.githubusercontent.com/32705616/31485448-253262ec-af34-11e7-8d48-ab3d4eaac4ac.PNG)

 Do I need to enable something in my project in order to make the animation play?

[2017-10-13 16:00] gradyjenkins opened #25 "The type or namespace name 'Forms' does not exist in the namespace 'Microcharts'"
I seem to be getting this error in my project even though I have both Microcharts and Microcharts.Forms included in my project. I'm using version 0.8.0-pre for both. Sorry if this isn't an actual issue.

[2017-10-13 16:32] #25 closed

[2017-10-14 08:54] netapau commented on #11
I'm doing my test here but I have a display problem right now.
https://github.com/netapau/HelloMicrochartsPre/blob/37c05e0a952699e2b0ba2b7c5fde93c9eca923f2/PLC/PLC/PLC.csproj#L10

Firsts Steps
https://github.com/netapau/HelloMicrochartsPre/blob/master/PLC/PLC/tests.txt

[2017-10-14 09:49] netapau commented on #11
Sorry my test is good, I forgot Microcharts.Forms  👍
UWP is ok on 16299.15 Insider, Android 5.1 , next time test on iOS

[2017-10-18 03:05] bulubuloa opened #26 "Rotate entry value and entry label"
Can i rotate entry value and label to show horizontal

[2017-10-23 12:22] #20 closed

[2017-10-23 12:22] #18 closed

[2017-10-23 19:53] aloisdeniel commented on #26
I added this functionnality into last [prerelease](https://www.nuget.org/packages/Microcharts/0.8.3-pre).

[2017-10-23 19:56] aloisdeniel commented on #13
@samukbg I added the `LabelOrientation` and `ValueLabelOrientation` properties to `PointChart`, `LineChart`, `BarChart` . It's available from last [0.8.3-pre](https://www.nuget.org/packages/Microcharts/0.8.3-pre) prerelease.

[2017-10-23 19:56] #11 closed

[2017-10-23 20:12] LuizGsa21 opened #27 "Don't target the latest version of xamarin.forms"
What api are you using in Xamarin.Forms that requires for you to target the latest version?

[2017-10-24 04:44] aloisdeniel commented on #27
I use it because of the **.NET Standard support**.

[2017-10-24 04:45] #22 closed

[2017-10-31 12:35] OscarNuWar opened #28 "Donut Graphic is too big."
Hello, i'm using your Nugget to create some nice looking charts, but the Donut Chart in Portrait mode is a little too big for the screen and it also overlaps the text.

I could use landscape (and I do) but I'm... "Asked" for it to work on Both orientations. Is there a way to make the donut chart smaller?

[2017-11-02 02:19] Wenfengcheng opened #29 "Can we make Microcharts enable Clicked、Pinch and Zoom?"
This Microcharts looks very good, but I want to add some gestures on it, such as tap、pinch、pan, which can change source and charts dynamiclly.
Thank you for replying!

[2017-11-03 07:39] abrasat opened #30 "Using Microcharts with dynamic data"
Is it possible to use Microcharts also when data has to be dynamically added to a chart, instead of statistics-like static data ? For instance if new data comes asynchronously from a WebService, more or less cyclically. Are there any samples for this scenario available ?

[2017-11-10 12:13] CalvinNunes commented on #24
Some news about the maxVlaue? i'm trying to use it with Donut, to show something like:
maxValue = 100%, achieved= 80%, so the graphic fill just 80% of the donut.

[2017-11-10 13:49] aloisdeniel commented on #24
Hum, the use of `RadialGaugeChart` is more appropriate in this case for me.

Setting a max value to a donut doesn't make sense to me, imagine your have 2 portions with `60` and `50`and a max value of 100 ? Do we have to cut the last portion ?

[2017-11-10 13:54] aloisdeniel commented on #28
Hi! Yep, I'm working on this particular scenario. As a work-around, you could limit the height of the chart.

[2017-11-10 13:54] #21 closed

[2017-11-10 13:55] #26 closed

[2017-11-10 13:56] #27 closed

[2017-11-10 14:04] aloisdeniel commented on #30
Hi!

Doable, but you have to update the entire `Chart` value and you can't change each independent sub-value at the moment.

You juste have to update the `Chart` property of the `ChartView`, for example from a binding in Xamarin.Forms.

**View**
[code]
**ViewModel**
[code]

[2017-11-10 15:09] CalvinNunes commented on #24
that's right, I was trying to use the wrong chart. and if I need to use in Donut form, I just need to use two portions one with the rest of the other, (100% = 1 portion of 80 and other of 20) this will made the chart I need. Thanks!
And a tip: Microcharts is awesome, but maybe it need more documentation, like what attributes and functions each chart have and so on... (if there is a documentation f

[2017-11-10 15:32] CalvinNunes commented on #24
Also, there is a Way to show in the chart the MaxValue as a Label or something?

[2017-11-11 01:10] mfranchitti opened #31 "Labels get cut off"
Labels are cut off - any way you can add rotating / wrapping labels for the data points?

[2017-11-11 01:23] mfranchitti opened #32 "Any plans to support series data?"
Great tool!

Question: I would like the ability to show multiple datapoint for the same category to provide a simple visual comparison. Any plans to support something like this in the near future?

Something similar to this:

![charting_2dgrid](https://user-images.githubusercontent.com/24813102/32684757-ed757e42-c654-11e7-9591-d81507e95eec.png)

[2017-11-12 13:25] codebeaulieu commented on #31
This might be similar to https://github.com/aloisdeniel/Microcharts/issues/28

I'd like a little more flexibility with the labels myself. How about the ability to hide the labels entirely and give the UI space back to the actual chart?

This way we can hand roll our own labels if we're not liking how the framework is producing them.

Great work on this library btw

[2017-11-13 15:34] mfranchitti opened #33 "General Chart Labels"
Any plans to support a chart title, x-axis label, and y-axis label? I do not see a way to add these.

[2017-11-15 01:34] bidasknakayama opened #34 "DateTime chart ?"
To make a chart ( X: time   9:50 , 9:51, 9:52 ... ) , ( Y: value , 0,1,2,3,4 .. )
Is it possible ?

[2017-11-15 21:24] navkar opened #35 "Strange: Xamarin.iOS: Unable to locate assembly 'Microcharts.Forms' (culture: '')"
![targetfw_vs](https://user-images.githubusercontent.com/7309326/32860940-0fa6663c-ca08-11e7-8a5e-f83427b84beb.png)

Can  anyone point me in the right direction.

Error using the LATEST version

[code]
[code]

[2017-11-17 10:49] purplesoft-io opened #36 "Handle null value on linechart"
Hello,
I need to handle null values on linechart... I don't want to draw a point on 0... i want make a invisible point with the average of the last valid point and the next valid point... is it possible?

[2017-11-17 12:13] aloisdeniel commented on #36
Hi, sorry, not at the moment...

But I will do my best to add this but at the moment, the the background gradient is drawn in one shape. To support this, the shape would have to be cut into several parts.

[2017-11-17 12:19] aloisdeniel commented on #34
Hello, at the moment values are needed and equitably distributed.

Not ideal, but you could do this :

[code]

I'll see if I could add this feature in next versions.

[2017-11-17 12:20] aloisdeniel commented on #33
I will see if I could add this to future releases!

[2017-11-17 12:26] aloisdeniel commented on #32
That would be useful! Not in the coming releases, but definitively something I want!

[2017-11-17 19:03] superbluecool opened #37 "set_chart method not defined error in 0.80pre to 0.83pre"
In the new pre-releases forms package including 0.80pre to 0.83pre, doing a simple chart based on the GitHub example like
            chartView.Chart=new BarChart() { Entries = entries };
would throw the set_chart method not defined error. the same code works well in 0.62. can't test it in 0.70/0.71 due to .net compatibility errors.

[2017-11-18 19:27] WhatTheFuckAmIDoingHere opened #38 "Changing LineSize of RadialGaugeChart while changing size of chart?"
Hey there!

Thanks for this great library. I was trying to change the `LineSize` attribute of the `RadialGaugeChart` type and i experienced that whenever i set it to a small size, something like `10`, i can't resize the whole chart. So if i only got one entry the chart will appear really small and only gets bigger if i increase the line size.
What i want to achieve is a big chart with a thin line.

[2017-11-20 00:09] jakzale opened #39 "Microcharts fails to install in VS2017"
I was trying to install the Microcharts nuget package in VS2017, and it failed with the following error message:

[code]

I tried installing Microcharts on the following configurations VS versions:
- Visual Studio Community 2017 (15.4.4)
- Visual Studio Community 2017 (15.5.0 Preview 4.0)

I also tried installing Microcharts 0.8.3-pre, but I get the same error message.

[2017-11-20 03:02] IngweLand opened #40 "Not compatible with Profile111"
Could not install package 'Microcharts.Forms 0.7.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2017-11-20 07:09] aloisdeniel commented on #37
Hi!  Very strange, make me think that you have a mismatching *dll*. Make sure that you haven't inconsistencies between the `Microcharts` package references from your projects.

[2017-11-21 04:29] navkar commented on #40
Try using the latest pre-release version. It worked for me!

[2017-11-21 04:32] IngweLand commented on #40
Yes, confirm, latest pre-release works

[2017-11-22 02:02] jacktux opened #41 "Nullable values"
Would it be possible to have a null value, the reason is I want to show every hour of the day (or day of week etc) but I might not have a value for that hour. I still want to see the label but the chart would just bypass showing a bar, dot etc

[2017-11-28 14:42] merokoshiro opened #42 "Microcharts.forms failed to load assembly"
Hello,

I installed Microcharts.Forms to my project and tried to add in a content page "<microcharts:ChartView x:Name="chartView" />" as in the example, but when I run on iOS I get the following error: "Failed to resolve assembly:'Microcharts.Forms, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null".

Version 0.7.1 for Microcharts.Forms and I am using Xamarin Live Player.

Thanks

[2017-11-28 15:04] CalvinNunes opened #43 "Label location"
Hello!

There is a way to specify the location to show the label?
For example, if I use a RadialGauge and my label value or text is big, it goes over the chart graphic.
So, is there a way to choose if I want the label in the top, bottom, left, right of the graphic? Or something similar to that that can help me?

[2017-11-28 15:30] gribnikpayk commented on #42
Hi
I have same problem...

[2017-11-29 10:13] gribnikpayk commented on #35
Same Problem.

[2017-11-29 11:06] gribnikpayk commented on #35
i have solved this problem.
i add "var ignore_chartView = new Microcharts.Forms.ChartView();" in FinishedLaunching method (AppDelegate.cs)

[2017-11-29 11:42] gribnikpayk commented on #42
i have solved this problem.
i added "var ignore_chartView = new Microcharts.Forms.ChartView();" in FinishedLaunching method (AppDelegate.cs)

[2017-11-29 14:27] merokoshiro commented on #42
Hello @gribnikpayk ,
I tried adding that line, but it still does not work for me. It does not even enter this method.

`[Register("AppDelegate")]
	public partial class AppDelegate : global::Xamarin.Forms.Platform.iOS.FormsApplicationDelegate
	{
		public override bool FinishedLaunching(UIApplication app, NSDictionary options)
		{

            var ignore_chartView = new Microcharts.Forms.ChartView()

[2017-11-30 03:46] navkar commented on #42
Did u try adding that line after

`global::Xamarin.Forms.Forms.Init();`

[2017-12-04 10:55] tselvan2311 opened #44 "Can't get access 'Entry' in .Net standard forms project."
Hi,

I have created a .Net standard forms project and included 'Microcharts.Forms' from nuget in all projects in solution.
I can't able to get access of 'Entry' and other Chart types (like LineChart, BarChart, PointChart ...). Is it supported for .Net standard projects or did i miss something?

[2017-12-04 12:23] tselvan2311 commented on #44
Sry, I was using Microcharts v_0.7.1, seems like it's not supported with .NetStandard projects.

After I upgrade the packages to pre-3, I can able to get access to those APIs and runs fine.

I am closing this issue.

[2017-12-04 12:23] #44 closed

[2017-12-04 14:59] merokoshiro commented on #42
Yes, I did. I still have the same problem. It does not even enter in that method

[2017-12-05 05:42] DavidKarlas commented on #32
I would also like to suggest support for "connected" series data view:
![image](https://user-images.githubusercontent.com/774791/33591719-63dc1722-d987-11e7-92ba-7ea766ddc650.png)

[2017-12-05 11:44] Vamsi7591 opened #45 "Is Microcharts supports TIZEN Cross platform"
Hi,

   I followed few sites and trying to achieve Charts with help of Xamarin Forms in TIZEN but no luck,
Could you please let me know.

My Code :+1:
https://developer.tizen.org/forums/tizen-.net/how-use-microcharts-tizen

Error Log:
`		this.chartView.Chart	error: error: member reference type '__CrossTemplate1.TabPage1 *' is a pointer; did you mean to use '->'?
error: member reference type 'Micro

[2017-12-08 15:35] andreatosato opened #46 "Create Xamarin.Forms Entry binding"
Hi @aloisdeniel,
First of all, congratulations for the library. Great work!

I started trying it to be able to talk about it during the next event in my community.
I created Xamarin.Forms projects but I did not find the binding for Entry object (next ChartEntries).
I thought about creating a new custom object for every chart available.
This is an example of a code, what do you think?

[code]

XAML

[2017-12-08 20:38] hectown commented on #21
Hi!, I have the same issue... but I try to include in Xamarin.Forms in Visual Studio for Mac

[2017-12-10 06:12] andreatosato commented on #42
I have installed microcharts nuget package to iOS project. I have also installed microcharts.forms to .NET Standard project.

[2017-12-14 03:08] subareddy14 commented on #40
can i know which pre release version you are using for pcl project.

[2017-12-15 16:26] biapar opened #47 "Do work it with PCL Xamarin Forms Solution?"
Do work it with PCL Xamarin Forms Solution?

[2017-12-17 09:51] andreatosato commented on #47
Yes, il work.
There is an example: [here](https://github.com/aloisdeniel/Microcharts/tree/master/Sources/Microcharts.Samples.Forms)

[2017-12-17 11:54] biapar commented on #47
I used the preview version.
The late version don’t install on PCL project.

[2017-12-18 12:20] mhdtahawi opened #48 "Stacked bar charts"
Hello,

Is it possible to make a stacked bar chart with Microcharts ?

[2017-12-19 04:07] ZhangGaoxing opened #49 "How to hide LineChart background shadow ?"
Like the shadow in this picture. Beacuse I want to show data which have max value and min value, so I use two charts to joint, but the shadow looks not good...
![](https://raw.githubusercontent.com/aloisdeniel/Microcharts/master/Documentation/images/Line.png)

[2017-12-19 04:29] bbkillen commented on #35
gribnikpayk thanks for posting!!

[2017-12-20 12:23] pinkysek opened #50 "LineCharts two or more lines in chart"
Hello,
Is it possible to make in LineChart two or more lines in chart?

Something like this: https://i.stack.imgur.com/axSKb.png

[2017-12-23 17:09] codebeaulieu opened #51 "Feature request: expose SKTypeface for labels"
Hey there, I'm currently localizing an application and I've noticed that there isn't any way for a user to pass in a typeface for chart labels. Making it impossible to localize for languages like Chinese.

**Request:**
Please expose Typeface properties for your chart controls to apply typefaces to labels.

[2017-12-24 01:01] chasmeier commented on #42
I'm having the same issue on VS Mac 7.3.2 But it works as demonstrated on Windows VS 15.5.0

In comparing the 2 environments, I notice that Windows is using targeted Framework .Net Standard 2.0 and OSX is using .Net Standard 1.5.  I've been struggling getting the OSX VS project to work, but Windows works as described.   Does anyone more familiar with the project/environments have a workaround or a

[2017-12-26 09:25] dzatara opened #54 ""Invalid Cast Exception" ...all of a sudden"
Implementing a donutChart in my android application and I'm getting an invalid Cast exception error all of a sudden after it worked fine before. What could be the issue?
Screen shot attached.

Error is occurring on:
`chart = new DonutChart(){Entries = chartSeries };`

chart series is Entry array:
`chartSeries = new Microcharts.Entry[]
            {
                new Microcharts.Entry (A)

[2017-12-26 12:10] WahidNasri opened #55 "arabic characters not appearing"
When use Arabic characters as titles, a square appears in place of the title

[2017-12-27 06:56] aloisdeniel commented on #55
I got a pull-request for that purpose. I will merge it really soon.

[2017-12-27 06:59] aloisdeniel commented on #54
Hi, very strange. Could you show us the stacktrace too ?

[2017-12-27 07:00] aloisdeniel commented on #48
Not with current version, but I'm working on it for next version that will come by the beginning of next year.

[2017-12-27 07:02] aloisdeniel commented on #47
Yes only the preview version works with PCL at the moment. Though, I would recommend everybody to switch to .NET Standard since PCL is now deprecated.

[2017-12-27 07:02] #47 closed

[2017-12-27 07:05] aloisdeniel commented on #42
I would suggest to switch to preview channel if you didn't try yet. A new release is coming by the beginning of 2018.

Do you have the same issues with the samples ?

[2017-12-27 08:44] biapar commented on #47
Yes, I'll pass to .NET standard for the next app, but now I'm at least finished next one.

[2017-12-27 10:05] dzatara commented on #54
@aloisdeniel Thanks for responding
After much sweat and equal amounts of caffeine, I discovered the error was actually from the xaml code and NOT the Microcharts element. Happy to say its working fine now.
screenshot:
![screen shot 2017-12-27 at 9 58 34 am](https://user-images.githubusercontent.com/22069971/34378344-40a06b74-eaed-11e7-875b-fe1d3ff15f05.png)

Thanks again and awesome work with the

[2017-12-27 15:59] codebeaulieu commented on #55
@WahidNasri I had the same issue, so I opened a pull request which as just merged (see #53). This PR exposes the SKTypeface property for the charts labels. Once those changes are available you'll just need to supply a font that supports Arabic as an SKTypeface. See related #51

[2017-12-27 16:03] codebeaulieu commented on #51
Thanks to @aloisdeniel for merging #53

[2018-01-02 09:36] pinkysek commented on #50
hm? Will be in future possible this?

[2018-01-02 12:07] Malikkhoja commented on #38
Hi,

I m having the same issue. Please fix this issue

[2018-01-03 18:59] jossevargas opened #57 "System.Reflection.TargetInvocationException"
Hi, I followed the steps on Quickstart section and I get this error when I try to run the application:

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation

any suggestions???

[2018-01-04 03:31] kosta59 commented on #38
Yes, this seems to be an issue for me also. I can set a heightrequest of 150, the Radial looks great. Then setting the LineSize so say 10, its like the height request is completely overridden.

[2018-01-04 17:11] SebastienForay commented on #50
+1, feature needed :D

[2018-01-08 14:31] dimitrijevic commented on #46
Hi @andreatosato,
 Have you tried to use this already? I'm asking because I've tried to incorporate Microcharts into an old project and databind to a RadialGaugeChart some values that are calculated from the accelerometer sensor. The readings start to come in fine  for a second or two but the UI gets bogged down really quickly on a lower-end Lumia UWP app.
  If the app is constructed so that new s

[2018-01-08 15:09] dimitrijevic commented on #30
Hi @aloisdeniel ,
Is it just me, or does the code above and databinding to a Chart object cause flickering?
My entries come from an accelometer which I would like to sample more frequently than 1000ms, but that input also probably takes a bit more longer time to be processed than your Select from the values you get from the myapi.GetValuesAsync(), so is there anything that could be used to animate

[2018-01-08 17:07] pandazzurro commented on #46
Hi @dimitrijevic.
The example I reported was made for an example application.
I have no experience of applications that run off fast UI refreshes.
This example work well on simple Xamarin Forms app.

[2018-01-08 19:39] ghost opened #58 "Xamarin Live Player - System.IndexOutOfRangeException Exception"
Hi,
pre-0.8.3 installed
The Code which works for USB connected deployment is not working in Xamarin Live player.
It gives System.IndexOutOfRangeException in Entries property.

[2018-01-09 16:07] dimitrijevic commented on #46
Hi @pandazzurro a.k.a. @andreatosato ;)
Thanks for your quick reply, and apologies for my somewhat delayed, but I was and still am trying (maybe I should better say playing with your code and Microcharts)...
I understand my usecase is somewhat special, but I do feel your code was a bit faster and less flickering than the original Microcharts databinding to a whole new chart so I had to ask (I also

[2018-01-09 16:23] pandazzurro commented on #46
Why don't you think to create a special object for the RadialGauge with the StartAngle bindable property?
I think that each graphical object (Radial Gauge, Donuts...) need specific implementation with correct bindable property.
Do you think that this is bad approach?

[2018-01-09 21:20] henningms opened #59 "Fill available width (Xamarin Forms)"
Hi,

I just started playing with Microcharts and trying to put one in a ListView's HeaderTemplate. Looks fine except that I can't get it to stretch horizontally; to make it use the whole available width.

What can I do?

[2018-01-10 18:00] superbluecool commented on #37
yes that seems to be the case. Anyways it works fine now.

[2018-01-10 18:00] #37 closed

[2018-01-11 16:15] mhdtahawi commented on #48
That's great !
Any ETA ?

[2018-01-12 10:43] mhdtahawi commented on #59
I have the same issue,  for now I am using WidthRequest property.

[2018-01-12 10:44] mhdtahawi commented on #39
Have you Tried installing Microcharts.Forms ?

[2018-01-16 08:19] anandjitbanerjee opened #60 "Change Value label Orientation"
Can we change the value label orientation for bar chart?Currently the labels come as vertical text.I want to make it as horizontal

[2018-01-17 00:56] viniciusvelasco opened #61 "Combined Chart"
Hi,

Is it possible to create combined graphics?
For example: bar chart and line chart

[
![grafico agrupado](https://user-images.githubusercontent.com/2370740/35019878-010736ac-fb08-11e7-89b2-6792d98c1831.PNG)
](url)

[2018-01-17 13:36] godrose commented on #30
@aloisdeniel  Great job!
Any chance the `Entries` property will work like an `ObservableCollection`?

[2018-01-18 09:48] godrose opened #62 "Failed to load controls in the run-time after it used to work"
Repro steps:
- Installed the latest packages to the Shared .NETStandard, iOS and Android projects
- Built the solution
- Ran the solution
- Navigated to the Chart screen

Expected: Chart opens successfully
Actual: Exception is thrown in iOS Simulator (Android device is OK):
Type microcharts:ChartView not found in xmlns clr-namespace:Microcharts.Forms;assembly=Microcharts.Forms
  at Xamarin.Forms.X

[2018-01-21 06:44] WahidNasri commented on #55
Are those changes available on the Nuget package?

[2018-01-21 15:17] codebeaulieu commented on #55
Looks like those changes are still in the develop branch. You'll know when they are in the nugget once you see it pushed to master.

[2018-01-22 08:34] meliksahk opened #63 "Microcharts fails during build in VS2017"
I just installed from nuget and build it. This is the error:

`2>  C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(1500,2): error : Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'Microcharts, Version=1.0.0.0, Culture=neutral, PublicKeyToken='. Perhaps it doesn't exist in the Mono for

[2018-01-22 08:36] meliksahk commented on #63
and my targetframework is netstandart1.4

[2018-01-22 08:41] godrose commented on #63
Have you installed it to the Android project as well?

On 22 Jan 2018 10:36, "meliksahk" <notifications@github.com> wrote:

[2018-01-22 10:37] meliksahk commented on #63
@godrose Yes I installed

[2018-01-22 11:02] godrose commented on #63
I usually get this kind of error when there's a package that's referenced
by the shared project and not referenced by Android project. Make sure both
core and Xamarin.Forms packages are installed in both projects.
If they are you might be experiencing something else, most probably not
related to this package

On 22 Jan 2018 12:37, "meliksahk" <notifications@github.com> wrote:

[2018-01-22 11:18] meliksahk commented on #63
Thank you @godrose I just installed MicroCharts.Forms but it need Microcharts too. Now it works.

[2018-01-23 08:19] higher-faster-better opened #64 "Package install failed"
I tried to install package to my Xamarin Forms project, exactly to PCL project. But I am getting this issue.

Could not install package 'Microcharts 0.7.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more info

[2018-01-23 12:44] Willianrn commented on #63
Thank you @meliksahk , Microcharts install solved the problem

[2018-01-25 12:48] DiAvisoo opened #65 "Move labels?"
The DonutChart spreads out the labels both left and right of the actual chart. Is there a way to have the labels on only the right or left side?

If not, is this a feature that will be added?

[2018-01-28 10:23] mvanhalen commented on #62
I have had a similar issue when using the Xamarin live player (Android). It works when I debug on the Phone Directly (Motorola Nexus 6). Probably the live player complies code differently.

[2018-01-28 12:10] OmarHassan25 commented on #55
I have the same issue, I am using the latest beta version 0.8.3-Pre

[2018-01-28 13:13] OmarHassan25 opened #66 "Bar Chart Bar Clicked Event"
How can I listen to bar clicked event in a bar chart?

[2018-01-28 15:01] grounch opened #67 "BackgroundColor = Transparent doesn't work"
This leave the white background as default
`<microcharts:ChartView x:Name="chartViewPlaisir" HeightRequest="150" BackgroundColor="Transparent"/>`
Have i forgot something?
No matter the color i put, it's always white.

V.0.8.3
Thanks

[2018-01-29 10:42] grounch commented on #67
Solved, not working on xaml but if you define colors in code it's ok
[code]

[2018-01-29 10:42] #67 closed

[2018-02-03 15:09] mattleibow commented on #45
This is probably only going to happen once SkiaSharp gets Tizen support: https://github.com/mono/SkiaSharp/issues/418

[2018-02-05 19:31] Clancey opened #69 "Code formatting"
I have sent my first pull request, and I am looking to send more.
There are a few things that make this repository hard to contribute too.

Right now the entire project uses 8 space tabs. Both VS4Mac or VS2017 default to 4 space tabs. This causes crazy reformatting on every line change. In order for me to prevent code formatting change I will need to change my editor defaults, or I have been manua

[2018-02-06 15:23] Xonshiz commented on #63
Same issue and the above mentioned solution worked.

[2018-02-07 09:36] isha31 opened #71 "Can we create a line chart that is horizontally scrollable?"

[2018-02-08 06:34] sapsan94 opened #72 "Label Orientation in microchart"
In microchart bar the default label presentation is horizontal but,
I would  like to display label value as vertical in Microchart Bar .And as well as I want dynamic color in bar.

<img width="540" alt="barorientation" src="https://user-images.githubusercontent.com/34670185/35958578-8cfcf860-0cc7-11e8-873a-18fc45179e6e.png">

[2018-02-08 12:23] jimespen commented on #72
There is a suggestion for this already: https://github.com/aloisdeniel/Microcharts/issues/26.

[2018-02-08 15:28] SebastienForay commented on #61
Hi,

On android, I'm using RelativeLayout to put multiple charts together.
It gives me this : [https://twitter.com/fisher0169/status/949058752606384128](https://twitter.com/fisher0169/status/949058752606384128)
I've used same chart types, but you can set different type for each charts.

Maybe it's similar to what you need ?

[2018-02-08 15:48] jimespen commented on #49
@ZhangGaoxing You can set the alpha of the line area like this: ``lineChart.LineAreaAlpha = 0;``

[2018-02-09 08:40] jimespen commented on #60
There is a suggestion for this already: https://github.com/aloisdeniel/Microcharts/issues/26.
Duplicate of https://github.com/aloisdeniel/Microcharts/issues/72.

[2018-02-12 13:52] chrisfoulds commented on #59
Same issue does not obey the fill parameter

[2018-02-13 05:36] alex1kariuki commented on #39
Did this issue get solved? I have tried both microcharts.forms and microcharts and I am getting the sama issue.

[2018-02-13 08:38] voicebooth commented on #58
I'm getting exactly the same via Live Player when following the getting started tutorial for Xamarin.Forms, is this likely to work when deploying through a Mac rather than Live Player?

[2018-02-20 12:44] prakashsatyani commented on #2
@aloisdeniel `LabelFontSize` doesn't seem to work...

[2018-02-21 00:51] IDispose commented on #48
I *NEED* this
Any update on when this might be available? I am ready to help alpha test.

[2018-02-21 10:36] chrisfoulds opened #73 "Feature Request : Half Doughnut chart"
A half doughnut chart would be a great addition to this library.

[2018-02-21 14:15] Ashleyt28 opened #74 "Add list of instances"
Is there a possibility to include a list of instances available for use in documentation such as labelfontsize ?

[2018-02-24 02:01] viniciusvelasco commented on #61
Thank you @SebastienForay , I will try this. Sorry for the delay in answering.

[2018-02-26 19:37] codegrue commented on #46
I think when using MVVM, the "Chart" object needs to be either in xaml or at least in the code behind, because it's presentation. The Entries property, therefore, needs to be bindable to a viewmodel property. I cannot get this configuration working and thus have to put Chart (with its styling) in the viewmodel, which breaks the separation of concerns.

[2018-02-27 10:46] kevinjpetersen opened #75 "Label Values on the actual DonutChart"
I was wondering if it's possible to put the actual Label Values (Percentages) on the DonutChart? Say theres 3 slices, which means 3 different Label Values of Percentages on the Actual Donut.

[2018-02-27 13:47] PilgrimViis commented on #26
@aloisdeniel, does it work with animations in 0.8.3? I'm struggling to unite animations with labels on LineChart, don't know it's me or some trouble in version under development.

[2018-02-27 20:42] jojorunner commented on #57
I have the same problem. The inner exception is:  "Type must be a runtime Type object".

[2018-02-27 22:44] cbrawley commented on #5
I have a need for this capability as well.  If in the SKTouchEventArgs (or some derived class) the Microcharts.Entry element could be passed through that was non-null if the touch happened on a slide of the pie (as determined by the X/Y landing inside the polygon) and null otherwise, I could conditionally react to it with the Touch event something like the following:

        private void PriortyC

[2018-02-28 20:40] cbrawley commented on #28
For what it's worth, I attempted a workaround of using a relative layout to attempt to get the Donut Chart to use less space within the Grid cell I have the chart.  The height to width ratio (with a label font size of 28) needs to stay around 0.55 - 0.66 for the labels to not get clipped.  I tried to work with RelativeLayouts and forcing heights using HeightRequest but the best workaround a found

[2018-02-28 22:15] cbrawley opened #76 "Feature Request: BarChart Horizontal Rendering"
I am currently considering building this via a custom SkiaSharp polygon rendering but it would be very helpful if the BarChart could be rendered in a horizontal mode where I could use it as a lightweight KPI progress display.  I have an overall health score for a customer that I would like to show as a left to right view.  If it is between planned thresholds.

I see that you just added label rotat

[2018-03-03 17:45] ramonesteban78 commented on #48
I can help with this feature if you need extra help. I need it for my actual project.

[2018-03-07 15:54] rubo commented on #32
+1 This is a must-have feature

[2018-03-11 06:08] TariqNatour commented on #54
Hi @aloisdeniel,

I have the same issue in my project. Could you help me in this please.

<?xml version="1.0" encoding="utf-8"?>
<ContentPage
    xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
    xmlns:microcharts="clr-namespace:Microcharts.Forms;assembly=Microcharts.Forms"
    x:Class="AdminHome">
    <StackLayout Padding="10">
        <m

[2018-03-11 14:30] WahidNasri commented on #55
any update, please?

[2018-03-12 13:07] biapar opened #77 "Feature: Ring chart"
Is't possible to visualize a ring chart with the value inner the ring?

[2018-03-14 14:25] #61 closed

[2018-03-14 18:24] finnsea commented on #34
Would also be interested in something like this, or a step chart.

[2018-03-15 00:24] Luke-Beck commented on #28
Here is what we did to get our donut charts to take up the full width while still leaving just enough room for the labels.
We are using a magic number for the label margin, so you may need to tweak it or make it dynamic.

[code]

Then just set OnPaintSurface to be called from the PaintSurface event.
`<microcharts:ChartView x:Name="chartBalance" PaintSurface="OnPaintSurface" />`

[2018-03-15 02:55] HarkDev commented on #50
+1, Super Needed!

[2018-03-21 21:29] CatimusPrime commented on #57
I too am having the same issue, even when deploying it to my Android Phone. When I browse to the Page containing the Chart the program just crashes with the exception "System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation"

My chartview XAML is very simple:
`<microcharts:ChartView x:Name="ChartView" />`

My code for creating a line chart and entries

[2018-03-22 00:21] jossevargas commented on #57
You can try intalling Microcharts.Forms v0.8.3-pre

El 21 mar. 2018 3:29 PM, CatimusPrime <notifications@github.com> escribió:

I too am having the same issue, even when deploying it to my Android Phone. When I browse to the Page containing the Chart the program just crashes with the exception "System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation"

[2018-03-26 14:11] muhaym commented on #2
Label font size doesn't seems to be working properly on Android, different version of Android renders in different way.

[2018-03-27 17:42] Gazevil commented on #28
Is this being worked on? I still get some labels that are overwritten by the chart, depending on the fontsize i give the labels. There is space in other corners, i might by able to change the label location by overwritting the DrawCaptionElements fct, but i was wondering if this problem is still being adressed. Great nuget btw.

[2018-03-27 17:53] Gazevil commented on #28
I've encountered this problem also, depending on the fontsize for the labels some might be hidden while there are still some space available on other corners. Changing the view's height doesn't really work in my situation, if someone could adress this it would awesome. Great nugget btw.

[2018-03-29 10:57] apicaro commented on #57
Hello, i'm experiencing same problem with both 0.7.1 and 0.6.1, tried 0.8.3-pre;
now still have exception but a different one. Now i get an IndexOutOfRangeException.
Are you experiencing same issue or it's only on my side?
Thanks

[2018-03-29 12:12] apicaro commented on #58
Same issue here, works fine in AVD too but not on xamarin live. Anyone has news on this?

[2018-03-29 13:55] MohitKumar1991 commented on #64
I am also facing this issue. This is quite disappointing.

[2018-03-29 14:44] MohitKumar1991 commented on #54
I have the same error. What was the reason in your case?

[2018-03-29 15:14] MohitKumar1991 commented on #54
Hi guys
Great work with the library. I am getting some issues with the code.

<img width="899" alt="screen shot 2018-03-29 at 7 11 56 pm" src="https://user-images.githubusercontent.com/1735701/38096981-422f29b8-3385-11e8-8cfa-6acf5d75255b.png">
<img width="616" alt="screen shot 2018-03-29 at 7 11 45 pm" src="https://user-images.githubusercontent.com/1735701/38096983-4276b210-3385-11e8-93ef-26c3855

[2018-03-29 15:15] MohitKumar1991 commented on #54
I am using 0.83 pre-release version.

[2018-03-30 19:49] minaairsupport commented on #26
it dosnt work I need to display char in horizontal way
ValueLabelOrientation = Orientation.Horizontal, LabelOrientation = Orientation.Horizontal

[2018-04-01 15:12] MohitKumar1991 commented on #54
Just wanted to update on my issue. I was able to solve it by removing and readding the library in xamarin.iOS project.

[2018-04-09 12:18] sapsan94 commented on #66
Even I am looking the solution for same

[2018-04-10 11:43] txilla commented on #26
Yes, it doesn't work. I try to change LabelOrientation and don't show the Chart when I add LabelOrientation = Orientation.Vertical

[2018-04-12 09:39] Shogobg opened #78 "LineChart crashes with error "Access Violation""
Other chart types work correctly but when i switch to LineChart the error appears.

[2018-04-12 11:33] gokhanikisivri opened #79 "Feature Request"
Hi,

Can you change
the **protected void DrawCaptionElements** method to virtual,
the  RadialHelpers class to **public**
the  **public class Entry** class to partial ?

because of expandability

Thank you

[2018-04-16 07:13] StriBog45 opened #80 "A zoom event for line chart"
I need to make a zoom event for line chart, please tell me how I can do it

[2018-04-17 21:49] nichojo89 commented on #50
Excited for Multiple series, !

[2018-04-21 14:16] mzhukovs opened #81 ".NET Standard 2.0 Support"
Any plans for this? ETA? Would be great... thanks for all the work on this package.

[2018-04-23 19:05] mrdnote commented on #76
Would love to know this as well!

[2018-04-24 00:20] C0DESTR0NG opened #82 "Feature Request: Gradient RadialGaugeChart fills"
Is there a way to use a SkiaSharp color gradient on an individual RadialGaugeChart ring fill? I haven't seen a documented example of a gradient that returns an SKColor value type. I was also thinking of trying to use renderers to attempt to overlay and mask a gradient image.

[code]

[2018-04-24 05:25] sapsan94 commented on #23
Hi @hardik-jain-rapidd
Can you please update that how  to resolve this issue?

[2018-04-24 08:35] sapsan94 opened #83 "Interaction in microcharts"
Hi,
Is there any  properties for interaction in  microcharts like tab or tap event which  can make me to  get the X &  Y value of chart?
Explanation: Please go through below image:

<img width="252" alt="mc4" src="https://user-images.githubusercontent.com/34670185/39175610-6e732a36-47c8-11e8-83b6-35808c0faf20.png">

[2018-04-24 09:45] sapsan94 opened #84 "Dynamic Color in Microchart"
Hi,
Can anyone Please help to get dynamic color in microchart's  Barchart and Piechart like below image
<img width="251" alt="mc4" src="https://user-images.githubusercontent.com/34670185/39179598-540b764e-47d2-11e8-9300-2bde3ab1266f.png">

[2018-04-24 11:28] sapsan94 opened #85 "Label Overlapping in Microcharts"
Hi ,
Can anyone please help me to overcome of label overlapping in microcharts? For more clarity of requirement please go through  below image
<img width="320" alt="mc5" src="https://user-images.githubusercontent.com/34670185/39184279-79f51a32-47e0-11e8-879e-927ba9085e76.PNG">

[2018-04-27 18:27] thomai-d commented on #84
`Entry.Color` ?

[2018-04-30 22:36] thomai-d opened #88 "PointChart/BarChart does not draw labels"
The following example will not draw labels unless value labels are specified.

    var entries = Enumerable.Range(1, 5)
                  .Select(i => new Entry(i) { Label = i.ToString() })
                  .ToArray();

    var barChart = new BarChart() { Entries = entries };

[2018-05-02 13:05] Bhauraj001 opened #89 "Disable loading animation for Donut Chart in Microcharts in Xamarin forms"
How to disable the loading animation for Donut Chart in Microcharts in Xamarin forms?,

I set the IsAnimated=false, it didn't worked for me.

[2018-05-05 17:11] Glabenwitt opened #90 "Separate chart drawing and chart views"
Hello,
I thing it could be a good thing to extract drawing of chart in other class than view. SkiaSharp allow image generation for canvas and could be use to generate charts without adding them in a view (I principally think of pdf's generation).
I don't think it's a lot of work and I could help if needed but I'm not really familiar with github and pull request but i'm open for discussion.
Thank's

[2018-05-06 07:38] jgartner1 opened #91 "Visualization Error: Non-Static method requires a target"
I was following the Instruction from this Video: https://www.youtube.com/watch?v=tmymWdmf1y4 (as mentioned in the readme). But I wasn't able to reproduce the outcome. When I typed in the same code at first it hasn't found any classes like `BarChart()`,` RadialGaugeChart()` or anything like that. **So I installed next to Microcharts.Forms Microcharts itself.** Maybe that's the issue, because these

[2018-05-06 12:36] VolckaertAchiel commented on #30
do you have an example for xamarin.ios?

[2018-05-08 09:46] #90 closed

[2018-05-09 06:37] MyTradeCoin commented on #35
This solves the issue. Thank you very much

[2018-05-09 06:46] sumitsisodia007 opened #92 "I need Multiple line in LineChart."
Hay I am using microchart and I'm not able to use another line, anyone has an idea for showing multiple lines.

[2018-05-10 06:51] jimespen commented on #92
Duplicate of https://github.com/aloisdeniel/Microcharts/issues/50.

[2018-05-11 01:39] DharmilAsawla commented on #91
Similar to #58.
“I had the exact same issue. However, I think this is due to some limitations of the Xamarin Live player as described here https://docs.microsoft.com/en-us/xamarin/tools/live-player/limitations?tabs=android”

[2018-05-11 01:40] DharmilAsawla commented on #89
Can you please post some code on how you have implemented this?

[2018-05-11 02:03] DharmilAsawla commented on #57
Similar to #58

[2018-05-12 02:50] Bhauraj001 commented on #89
Hi @DharmilAsawla,

I created Skiasharp chart and I did animation based on timer and redrawn multiple times.

[2018-05-12 09:25] DharmilAsawla commented on #89
Did you try running the sample provided at [Microcharts/Sources/Microcharts.Samples.Forms] ? Animation is disabled by default if im not mistaken.

[2018-05-14 10:16] Antaris opened #93 "Rendering subsequent bar charts has painting errors - disposal best practices?"
Hi,

I have a strange issue which I think is related to resource disposal, but I can't be sure. My use case for Microcharts is generating static chart images to embed in PDF documents.  For one of my report templates, I generate two bar charts and two pie charts.

What I am finding, is the second of my bar charts is borked - it doesn't render my bars correctly. Here is an example:

![image](https:

[2018-05-14 11:34] Antaris commented on #93
I've found the source of the issue, but not sure what is going on.

It was actually the animation progress value on the subsequent chart being = 1, which was causing the bar areas to carry the same colour value as the bars themselves, hence them looking like full bars.

Not sure what the actual solution is here. I've actually got a customised version of Microcharts locally, because I needed to sig

[2018-05-14 11:34] #93 closed

[2018-05-15 17:47] HexisSoftware commented on #81
+1

[2018-05-16 11:34] mzhukovs commented on #81
FYI all - latest prerelease nuget package for Microcharts is already compatible

[2018-05-17 06:18] Ruchita-Bora opened #94 "Grouped Bar Chart"
I am trying to create bar chart as shown in image below. Is this possible with this library? I need a grouped bar chart with customizable xaxis (show images instead of labels).
![screen shot 2018-05-17 at 11 46 12 am]

(https://user-images.githubusercontent.com/20037382/40159721-2dfe0a72-59c8-11e8-826f-bbebc738ccff.png)

[2018-05-19 07:52] jgartner1 commented on #91
@DharmilAsawla so do you think if I'm compiling the app the error goes away?

[2018-05-23 18:52] jonathanantoine commented on #35
Did you add those 2 packages to the native implementation too ? I fixed the same error by doing this.

[2018-05-25 07:23] DanielBikr opened #95 "Add DonutChart Property to show separation lines in between entries"
At the moment I am using only the DonutChart with three entries. The different entries are drawn as expected directly after the other. I can't find an option to show a nice white separator line in between entries. What I do now to achieve this is to add white entries with 0.5 float value in between the other entries in the list. I think this would make a nice addition to the MicroCharts api for do

[2018-05-25 17:06] SteveShepNL commented on #2
LabelTextSize doesn't seem to have any effect whatsoever on iOS or Android. On Android I seem to get massive font size and therefore mostly folded under the chart itself, and iOS quite small. This is a fantastic nugget and the only thing keeping my apps from being production quality is not being able to have more control over the label and value label sizing and positioning on the charts. Being ab

[2018-05-25 19:22] niels9001 opened #96 "Is it possible to set the orientation of the bar chart to vertical?"
I was wondering if it's possible to change the orientation of the bar chart to vertical:

Label ------
Label --------------
Label --------
Label -----

[2018-05-29 08:54] Hentze90 commented on #96
Try type when creating ChartView. Type: Rotation = 90,
![image](https://user-images.githubusercontent.com/38984919/40648391-a3b20024-632e-11e8-9de4-9802683386f7.png)

[2018-05-29 09:04] Hentze90 commented on #88
I have had the same problem. I had to add ValueLabel to get it to show.

[2018-05-29 09:11] Hentze90 opened #97 "Question or New Feature: X and Y axis label"
Hi,

When I create a Bar chart or point chart. Is it possible to make a axis label..?

If not, It would be very nice new feature.

Thanks,
Ragnar

[2018-06-04 10:36] nqbjnh opened #98 "Can set effect for chart ?"
Hi Guy
In Microcharts.Forms. Which property can set effect for chart ?
Thanks.

[2018-06-05 12:07] zoli13 commented on #96
@Hentze90
Duplicate of #76 , however it's a very good request, I would also like it.
"Rotation" property will not make it, as Chart will be rendering outside of the View. See #76 .

[2018-06-05 12:20] Hentze90 commented on #96
I don't understan, I just told him how I solved this.

[2018-06-08 17:20] Goldstrike opened #99 "Question: create spectogram from audio file with Microcharts?"
Hello,

I would like to know if there is a way to create a spectogram related to the audio record?

I would like to create a spectogram like [this](http://noise-planet.org/assets/img/noisecapture/NoiseCapture_measure_spectrogram.jpg).

Regards,

[2018-06-12 09:17] sboubou opened #100 "Line Chart label entries alignment right not side"
Hello,
Can i change the alignment of label in the entries line chart (default on side)
Thanks.
Sophie

[2018-06-12 10:53] DharmilAsawla opened #101 "Documentation request"
Hello,

Good job on a great library! 🙌

Although this library is quite easy to use, a good documentation wouldn’t hurt and would provide new and current users on how to modify the chart. I.e properties and how to modify the chart to fit their needs.

Maybe an auto generated doc , with index style html?

Kind regards,
Dharmil.

[2018-06-12 16:43] NPadrutt commented on #55
Would love to get an update on this as well.

[2018-06-13 09:39] RazorscreaM opened #102 "Can we Make a line chart with a horizontal scoll"

[2018-06-13 12:27] balajikhenat opened #103 "In touch event of chart there is no information about entry."
How to identify which entry is selected in chart. If i have 3 entries there should be way to highlight the selected entry and and in touch event we should get this information.

[2018-06-14 10:04] RazorscreaM opened #104 "how can we add a png image right above a certain entry?"

[2018-06-19 23:34] bastianbecker21 opened #105 "Exception in iOS and Android"
I added 0.8.3-pre MicroCharts.Forms to PCL project of my Xamarin Forms app.
It was working good on iOS and Android but it gets exception now. I think it happened after I upgraded Xamarin.Forms to new version 3.0.0.561731. Please check and help to fix. It's urgent. Thanks.

System.Exception: TaskSchedulerOnUnobservedTaskException ---> System.AggregateException: A Task's exception(s) were not observ

[2018-06-22 10:02] bastianbecker21 opened #106 "Question to add this package to Xamarin Forms"
When I add this package to Xamarin Forms PCL project, I need to manually add SkiaSharp, SkiaSharp.View, SkiaSharp.View.Forms packages to Android and iOS project?
Thanks for quick answer!

[2018-06-22 15:54] reminmax opened #107 "Can't show ChartView inside ViewCell"
Hi all!
Does anyone have an example how to show ChartView (for example LineChart) inside custom ViewCell (ListView)? I tried to bind single Chart object and List of Chart objects, but Charts inside ViewCell are not visible. Which way should i use to resolve this problem?
Thanks.

[2018-06-27 10:32] virux99 opened #108 "unable to use chart in horizontal scroollview."

[2018-07-03 20:29] rafelton commented on #2
@aloisdeniel thanks for this great component! I've being used and faced the same problem with label sizes. I`ve created a dependency service to solve that and I hope it helps you, @muhaym, @SteveShepNL and others fans like me :D

**PCL**

1 - Create an Interface

    public interface INativeFont
    {
        float GetNativeSize(float size);
    }

2 - Set chart label size

[code]

3 - Create depe

[2018-07-06 09:20] c0mm4nDer commented on #55
any update?

[2018-07-06 17:18] c0mm4nDer commented on #55
This bug from SkiaSharp !

So I added SkiaSharp.HarfBuzz and edit some part of this library for showing Persian chars.(You can find it at : [https://github.com/c0mm4nDer/Persian-Microcharts/](Persian-Microcharts)) but just shows persain characters. but for another language  you can edit it as you want.
For more information of using SkiaSharp.HarfBuzz see this: [https://github.com/mono/SkiaSharp/is

[2018-07-17 03:45] mzhukovs opened #109 "Method to get rendered chart as image/stream?"
Would be awesome to be able to get the chart as a stream or an image. E.g. so app user could save it to their device or email it or whatever.

I presume since the charts are all SkiaSharp it should be possible somehow?

[2018-07-17 07:15] mzhukovs commented on #109
I decided to give it a stab. I have never used SkiaSharp so really don't know what I'm doing, I'm able to get the image from the chart object but for some reason the bars have no height to them. What am I missing?

Here's the sample (using the latest pre-release Microcharts package):
[code]

[code]

Don't mind the roundabout thing where i'm converting to base64 string and back was just testing som

[2018-07-17 23:18] majzayer commented on #30
Hello @aloisdeniel,

I've tried the code you posted above as well as the implementation of @andreatosato in issue#46 to refresh all entries every 20ms and the visualization becomes very laggy.

I noticed that if the ChartView.Chart is triggered as changed via `OnChartChanged`, the canvas get invalidated and repainted. If my understanding is correct, is there a way to avoid complete repaints as ent

[2018-07-26 09:49] lodomur commented on #26
Try this -> ValueLabelOrientation = Microcharts.Orientation.Horizontal,

[2018-07-26 14:14] lodomur commented on #26
Try this :)

PointChart pc = new PointChart();
pc.LabelOrientation = Microcharts.Orientation.Vertical;
var chart_USD = new LineChart()
{
Entries = obj_1,
MaxValue =100,
MinValue =0,
LabelOrientation = pc.LabelOrientation
};

[2018-07-31 12:56] RohitArnav commented on #81
thanks!

[2018-08-07 10:34] navneet8070 opened #110 "How can draw simple bar layout?"
How can make bar chart like below screenshot.

![image](https://user-images.githubusercontent.com/42173563/43770962-6ba6a716-9a5b-11e8-8a39-58ce7725f0db.png)

[2018-08-11 14:42] jahany opened #111 "use persian lang for lables"
hello there when i use persian lang for complete lables of chart it seems bad

[2018-08-11 14:42] jahany commented on #111
List<Microcharts.Entry> entries = new List<Microcharts.Entry>
        {
            new Entry(1238){ Label = "محصولات",ValueLabel = "1238",Color = SKColor.Parse("#266489")},
            new Entry(245){ Label = "Salers", ValueLabel = "245",Color = SKColor.Parse("#68B9C0")},
            new Entry(41){ Label = "Categories",ValueLabel = "41",Color = SKColor.Parse("#90D585")}
        };

[2018-08-12 20:59] piterzet opened #112 "Microchart.Forms 0.7.1 Packaging problem"
Hi, when installling Microcharts.Forms 0.7.1 release from scratch some namespaces are missing, for example there is no Microcharts.Entry, etc.
Downgrading to 0.7.0 solved that problem or install both Microcharts and Microcharts.Forms packages.

[2018-08-13 14:37] gunjanddave commented on #54
@dzatara - can you please help that how you resolved this issue.

[2018-08-14 05:59] gunjanddave commented on #105
@bastianbecker21  Have resolved this error ?

[2018-08-14 09:04] gunjanddave commented on #54
@MohitKumar1991 - I tried your solution as well. But not been able to solve this issue. Can you please help me with your solution.

[2018-08-14 23:07] mjassdev commented on #84
Hello sapsan94, I created a random variable and passed it as an argument in SKColor.

Like this:
`Random rnd = new Random();
`

`
                string[] colors = { "#CCCC00", "#660000", "#006600", "#0066FF", "#000000", "#330099", "#993399", "#009999", "#FF0000"};
`

In Entry:
`
                                new Entry(100)
                                {
                                    Co

[2018-08-16 08:36] benoitjadinon commented on #97
duplicates #33

[2018-08-17 21:00] tomh4 opened #113 "IsAnimated not working"
Hello,

I am trying to enable animatison from Xamarin.Forms, but I am getting this error

[code]

Any ideas ?

[2018-08-17 21:22] tomh4 opened #114 "Chart not expanding"
The chart is not occupying all the space it could, even with HorizontalOptions="FillAndExpand"  it is only taking up a portion of the space, and is only enlarged if more data points are added

Xamarin.Forms

[2018-08-19 23:11] mgramley commented on #114
I'm seeing this issue as well, any update?

[2018-08-20 05:22] mgramley opened #115 "Overlapping horizontal labels in large data sets"
So I've found a bug where, with large data sets, horizontal labels seem to get cut off because I assume they are overlapping.

Here's a little context on what I'm trying to do. I've got a large data set (hundreds of points) that I'm graphing as a line chart. I've created a neat little widget that allows the user to see the graph at different snapshots. It works great when you have a small number o

[2018-08-21 13:59] abhay-prescriber-360 commented on #21
I am facing the issue, I am using the pre-release. When can expect the release ?

[2018-08-21 15:25] dlpopescu opened #116 "Chart ignores TextColor in the entry when drawing labels"
The _DrawLabels_ method of the _PointChart_ class uses the color for the entry when drawing labels, instead of using the text color

[2018-08-21 15:37] #116 closed

[2018-08-30 12:47] Rajanchauhan833 opened #118 "I want simple Line graph with Axis"
I want simple Line graph with Axis but here Line Chart is available but no axis available for this chart

[2018-09-10 07:49] ask-himanshu commented on #5
can you tell me how this tough even will work.  e.SeriesDataItem is not found.

[2018-09-17 13:42] SvenHerr commented on #26
i have also the latest verison but its still not working :(

[2018-09-17 14:19] SvenHerr commented on #2
That works but then i also need a Padding because the texts are cutted on the bottom :(

[2018-09-18 10:14] Vitany opened #120 "problems with font in iOS"
Hi. Perhaps this is due to the update of iOS 12, but the fonts on the graph look like this now. How can this be fixed in the xamarin forms?
![photo_2018-09-17_22-05-56](https://user-images.githubusercontent.com/22425688/45680871-beea5a80-bb44-11e8-9acb-883df39979a4.jpg)

[2018-09-20 10:14] Cedde97 commented on #120
Having the same issue too, only on iOS 12. On lower Versions and Android it looks fine.

[2018-09-20 10:35] Cedde97 commented on #120
changing the Typeface worked for me

static string fontFamily = Device.RuntimePlatform == Device.iOS ? "Lobster-Regular" : null;
private SKTypeface TypeFaceForIOS12 = SKTypeface.FromFamilyName(fontFamily);

[2018-09-21 09:59] muttaraviteja commented on #5
Hi All,

I am facing the same issue. I there any way to get which item is clicked in the graph.

[2018-09-25 06:13] shirish8 opened #121 "Overlapping Label Of DonutChart??"
Value Labels are Overlapped in donut chart...is there any method to properly arrange the labels without getting overlapped???

[2018-09-25 06:45] shirish8 commented on #28
@Luke-Beck  can you please tell me what is txtAddress there???

[2018-09-25 06:56] Luke-Beck commented on #28
@shirish8 txtAddress is just a normal label on the page that has a font size that I'd like to match.

________________________________
From: shirish8 <notifications@github.com>
Sent: Tuesday, 25 September 2018 4:45 PM
To: aloisdeniel/Microcharts
Cc: Luke-Beck; Mention
Subject: Re: [aloisdeniel/Microcharts] Donut Graphic is too big. (#28)

@Luke-Beck<https://github.com/Luke-Beck> can you please tel

[2018-09-25 06:59] shirish8 commented on #28
@Luke-Beck  thank you for the reply...so we can just replace it with a textsize number right??
Did this helped the graphs label not being overlapped???

[2018-09-25 07:05] Luke-Beck commented on #28
@shirish8 Yes that's right. Replace it with the font size you want. It will help with the labels being overlapped, but you may need to tweak that '13' magic number depending on how long your labels are.
________________________________
From: shirish8 <notifications@github.com>
Sent: Tuesday, 25 September 2018 4:59 PM
To: aloisdeniel/Microcharts
Cc: Luke-Beck; Mention
Subject: Re: [aloisdeniel/Micr

[2018-09-25 10:00] dannmat commented on #59
Does anyone know of a fix for this yet? 👍

[2018-09-25 10:04] dannmat commented on #114
Also having this issue.

[2018-09-27 02:46] jacksonveroneze commented on #120
@Cedde97 Can you provide more details of your implementation?

[2018-10-01 08:41] TMagnum1974 commented on #120
Is there a way to solve this without changing Microcharts itself at all - as far as I can see the only way to achieve the fix is to change the Microcharts source. Could be done of course but I would prefer an "official" fix, if possible.

[2018-10-03 19:03] adamstirtan commented on #120
I really hope to see a fix for this one. It takes a beautiful library and really puts up the blocker from using it when the latest iOS doesn't look right.

[2018-10-10 07:09] WeiChun0723 opened #122 "Clickable label"
Is possible to add tap gesture to the entry label?

[2018-10-10 13:20] Mikilll94 commented on #112
Hey. I 've got the same problem for Microcharts.Forms 0.7.1.

[2018-10-10 13:38] Mikilll94 commented on #106
I think no. You have to install both MicroCharts and MicroCharts.Forms.

[2018-10-10 14:48] Mikilll94 commented on #118
I agree. Without axes this plugin is useless. In this plugin you can only add labels to points. You are not able to create normal charts with axes with custom scales on these axes.

[2018-10-11 09:00] Sayzer75 commented on #120
Somebody have solve the font issue with iOS 12 ?
Thank for your help

[2018-10-12 02:05] mattmiley commented on #112
Same here.

[2018-10-23 11:51] muttaraviteja commented on #84
Random rnd = new Random();

Entry(100)
                {
                      Color = SkiaSharp.SKColor.Parse(String.Format("#{0:X6}", rnd.Next(0x1000000)))
                });

[2018-10-24 16:42] charcoalditto opened #123 "default fontfamily of labels look like boxes"
<img width="387" alt="2018-10-25 1 38 53" src="https://user-images.githubusercontent.com/26886129/47446823-083e6180-d7f7-11e8-8b43-a779fda3ccf1.png">
the label's value is 1어a but looks like 1[X]a

[2018-10-26 22:25] pakbaz opened #124 "Donut Chart is not showing all the labels."
I have 5 labels but Donut Chart picks 4 label randomly and show and ignores last one

[code]

[2018-10-30 11:18] dannmat opened #125 "Line Chart does not expand to full width"
Adding a line chart does not fill the full canvas space.
Interestingly, adding more data points expands the chart closer to the edge of the canvas. From testing, it takes about 15-20 data points for the chart to look normal.

[2018-10-31 13:59] WahidNasri commented on #55
Any Update for this? It has been a year since I opened the issue and there is no progress?

[2018-11-01 13:16] mattleibow commented on #120
Here is the SkiaSharp issue: https://github.com/mono/SkiaSharp/issues/657 and this is the native skia issue: https://bugs.chromium.org/p/skia/issues/detail?id=8432

I believe Apple changed something and this affects ALL new OS versions including macOS and tvOS. To be safe, it is probably best to always specify the font that you want. There is no guarantee that all OSes will always all use the same

[2018-11-05 08:52] Sayzer75 commented on #120
Thank for these informations.
Do you have a delivery plan for this fix ? (a release number, a date...)
Thank for advance for your response

[2018-11-05 13:50] mattleibow commented on #120
We should be releasing in the next two weeks, it is currently undergoing testing.

[2018-11-06 08:15] TMagnum1974 commented on #120
Highly appreciated - thanks a lot!

[2018-11-06 19:24] RoSchmiSec opened #127 "Bug in Class PointChart.cs"
Hello, I found a bug in the Class PointChart.cs

In the method 'DrawLabels(...)
is the code:
if (bounds.Width > itemSize.Width)
{
	text = text.Substring(0, Math.Min(3, text.Length));
	paint.MeasureText(text, ref bounds);
}
if (bounds.Width > itemSize.Width)
{
	text = text.Substring(0, Math.Min(1, text.Length));
	paint.MeasureText(text, ref bounds);
}

Both if-clauses work on the same condition.

T

[2018-11-07 18:07] ronaldosena commented on #125
Same problem here, couldn't manage to make the chart use the whole space all the time...

[2018-11-14 03:29] Nixon-Joseph commented on #2
@aloisdeniel The issue with the cut off labels is on PointChart.cs line 124. Where it says `canvas.DrawText(text, point.X - (bounds.Width / 2), height - this.Margin + (this.LabelTextSize / 2), paint);`

If you change it to `canvas.DrawText(text, point.X - (bounds.Width / 2), height - (this.Margin + (this.LabelTextSize / 2)), paint);` it properly positions the labels. It's just a simple issue of or

[2018-11-14 14:37] Nixon-Joseph commented on #127
Since this seems to be a stale repo (and the best option out there), I've forked it and will continue to maintain it myself -> https://github.com/Nixon-Joseph/Microcharts. I don't have the nuget package built yet (11/14/2018), but plan to by end of day.

I am a busy person, so likely won't be able to address issues immediately, but am fully supportive of forks and support. I do plan on fixing what

[2018-11-14 14:37] Nixon-Joseph commented on #125
Since this seems to be a stale repo (and the best option out there), I've forked it and will continue to maintain it myself -> https://github.com/Nixon-Joseph/Microcharts. I don't have the nuget package built yet (11/14/2018), but plan to by end of day.

I am a busy person, so likely won't be able to address issues immediately, but am fully supportive of forks and support. I do plan on fixing what

[2018-11-14 14:37] Nixon-Joseph commented on #124
Since this seems to be a stale repo (and the best option out there), I've forked it and will continue to maintain it myself -> https://github.com/Nixon-Joseph/Microcharts. I don't have the nuget package built yet (11/14/2018), but plan to by end of day.

I am a busy person, so likely won't be able to address issues immediately, but am fully supportive of forks and support. I do plan on fixing what

[2018-11-14 14:37] Nixon-Joseph commented on #123
Since this seems to be a stale repo (and the best option out there), I've forked it and will continue to maintain it myself -> https://github.com/Nixon-Joseph/Microcharts. I don't have the nuget package built yet (11/14/2018), but plan to by end of day.

I am a busy person, so likely won't be able to address issues immediately, but am fully supportive of forks and support. I do plan on fixing what

[2018-11-15 08:45] dannmat commented on #125
That's brilliant, its a great library that needed someone to upkeep it!

[2018-11-15 12:05] Nixon-Joseph commented on #125
If you wouldn't mind, could you recreate any bugs that you're currently struggling with in my fork? I'll do my best to keep up, and handle everything.

[2018-11-15 13:51] Nixon-Joseph opened #128 "Stale repo"
Since this seems to be a stale repo (and the best option out there), I've forked it and will continue to maintain it myself -> https://github.com/Nixon-Joseph/Microcharts. I already have a [nuget package](https://www.nuget.org/packages/DevPirates.Microcharts) built and deployed with my minor (so far) changes.

I am a busy person, so likely won't be able to address issues immediately, but am fully

[2018-11-15 17:17] aloisdeniel commented on #128
Thank you @Nixon-Joseph !

If you feel confident with the project, and ready to maintain it, I would be very happy to add you as one of the collaborators. This project definitively needs updates ...

Since I'm extremely busy right now, and I don't work with Xamarin technologies anymore, this would certainly benefit the project.

[2018-11-15 18:29] Nixon-Joseph commented on #128
@aloisdeniel

Well I certainly don't want to steal any of your thunder or whatnot, so if I could collaborate and facilitate getting nuget updates up somehow, I'd happily join in and drop my fork/nuget. I mainly forked it for my own work, because I needed a fix for my app to pass style, and accessibility checks.

This is absolutely the best (visually and functionally) graph/chart repo I've seen. Ev

[2018-11-15 18:56] Nixon-Joseph commented on #127
@RoSchmiSec

Actually, it's not what it initially appears to be. When I first saw this section, I thought the same thing, but what's actually happening is the code is attempting to determine if there's enough space for the label.
It does this by first checking the width, if it doesn't fit, it drops the label value to 3 characters. then checks **again**. If it still doesn't fit, it drops the label

[2018-11-15 18:58] Nixon-Joseph commented on #125
@dannmat it actually appears that I might possibly be joining the creator to collaborate on this repo, so I'd hold off on duplicating your issues on my fork for a bit.

[2018-11-15 19:00] Nixon-Joseph commented on #124
@pakbaz
Just for completeness, can you please provide some information about your project? i.e. Xamarin version, native or forms, is this issue specific to one platform, what does the view you're putting this in look like. That sort of thing.

[2018-11-15 22:15] RoSchmiSec commented on #127
@Nixon-Joseph
Yes I see, you are right. I'm sorry that I wasted your time. I didn't try hard enough to understand the code. Thank you for your support of this valuable library. I close the issue.

RoSchmi

[2018-11-15 22:15] #127 closed

[2018-11-15 22:44] aloisdeniel commented on #128
Happy to ear that !

I added you to the github repo collaborators, and the `nieminen` account to the nuget package manager, I'm sure you will make a good use of it :') !

I'm still here if you have any question, and I will try to collaborate as soon as I have a working Xamarin toolchain again.

[2018-11-15 23:57] Nixon-Joseph commented on #128
Oh awesome, just got and accepted everything. I'll go ahead and close off my repo and nuget tonight, and push my fix for the label size into this repo.

May I ask how you increment the version number for your nuget builds?

And I forgot, but I should note that I cannot build or test for anything Apple. I only have access to windows/linux machines for the foreseeable future.

[2018-11-16 02:05] Nixon-Joseph commented on #28
Is this still an issue? If so, can you specifically define what the issue is, and what it should be instead? Thanks!

[2018-11-16 02:34] Nixon-Joseph commented on #4
@aloisdeniel I'm not seeing this change evident in the code. I'll go ahead and snatch this one, and check it in when I get a chance this weekend.

[2018-11-16 02:37] Nixon-Joseph commented on #31
@mfranchitti if this is still an issue for you, could you please provide screenshots and specific descriptions of what's wrong? If it's not still an issue, I will close this.
Thanks!

[2018-11-16 18:14] Nixon-Joseph commented on #128
@aloisdeniel I also hadn't noticed your dev/feature branches. Can I ask how far along your animations feature is to be completed? And is the current develop branch okay to release?

[2018-11-16 21:07] dannmat commented on #125
Ok that's fine, let me know if you need me to though 👍

[2018-12-21 07:39] TMagnum1974 commented on #128
Hi there!
Just curious if there will be a new release of Microcharts as mentioned in this thread? Personally I am mostly interested in fixing the font issue but there were some more things mentioned that might be fixed as well?

Thanks in advance!
Marco

[2019-01-02 02:37] mwkoehler commented on #128
@Nixon-Joseph If you need help I am equally inexperienced with maintaining a public repo but am happy to help in any way I can.  For now I plan to fork and merge [pull 87](https://github.com/aloisdeniel/Microcharts/pull/87) as it appears to speak to an issue I have.

[2019-01-06 09:17] akkhigan commented on #5
I am not finding the e.SeriesDataItem, showing the error that assembly is not referenced.
Attached the screenshot please find and let me know the workaround to this issue.
![screen shot 2019-01-06 at 1 15 28 pm](https://user-images.githubusercontent.com/855767/50734209-2c360000-11b5-11e9-9cfa-7b2d6a08978f.png)

[2019-01-11 15:13] 0rel1 commented on #42
Hi,

 Presently, I have installed the Microcharts.Forms 0.8.3-pre package in my Xamarin Project.

 This solution is creacted with the option "Code Shared Strategy": "Shared .Net" (not PCL).

 Calls of the microchart objets are doing in the xaml code of my shared code project.

 My solution builds correctly. But, when I try to deploy on my device, I have this error: "Can not resolve reference: `Mic

[2019-01-14 15:52] ibm5155 commented on #125
@Nixon-Joseph  ur branch is private?

[2019-01-24 02:45] mattleibow commented on #120
@TMagnum1974 I think you may be referring to release v1.68.0 which was released in December: https://www.nuget.org/packages/SkiaSharp/1.68.0

https://github.com/mono/SkiaSharp/releases/tag/v1.68.0

[2019-01-24 07:08] TMagnum1974 commented on #120
@mattleibow Oh, indeed, thanks! I'll try and build Microcharts then so I can finally correct this font issue which is quite annoying but Microcharts is a great repository which also functions as a great example for Skia-enabled enhancements to Xamarin in general.

[2019-01-25 07:59] NPadrutt commented on #128
@mwkoehler  I had the same thought. @Nixon-Joseph  Can we accomplish this somehow in this repository and publish an updated nuget?

[2019-01-28 23:39] rerickson1 commented on #2
Any update on this?  It would be great to get the native font size solution implemented in the library.

[2019-01-31 11:58] TMagnum1974 commented on #128
Hi there!
I managed to update the dev branch (which includes everything from the newest available nuget 0.8.3-pre Release) and also updated it so it referenced the new SkiaSharp 1.68 and everything works fine for my release. However, I would need to somehow deploy my personal nuget libraries so AppCenter builds can include them.

Since this is possible wouldn't it be better an official, new prerel

[2019-01-31 17:36] zoegoodwinsutton opened #134 "Label Text Size"
Hi there!

Is it possible to/how can I access LabelTextSize when creating a BarChart?

Thanks!

[2019-02-01 13:31] albrecht-jun-zhang commented on #120
@mattleibow I tried to look for the src code of version 0.8.3-pre, but only found 0.7.1. Unfortunately LabelOrientation and ValueLabelOrientation properties of BarChart are only available in 0.8.3-pre. I could not use 0.8.3-pre Nuget package, cause the font on iOS 12 is wrong.

[2019-02-01 14:43] albrecht-jun-zhang commented on #120
Thanks @mattleibow, font is fix with SkiaSharp/1.68.0. We are using Microcharts source code(commit 69ad69b0b6). Hopefully we would get a new Microcharts Nuget package soon.

[2019-02-01 16:36] albrecht-jun-zhang commented on #120
Hi TMagnum1974,

Thank you very much for the suggestion. I will do the same.

Have a good weekend,
albrecht

[2019-02-02 23:06] mattleibow commented on #120
Great! Good to hear the updates are working.

[2019-02-04 08:22] pinkysek opened #136 "When will be new pre-release/release?"
Hello, I want to ask when will be new pre-relase or release this amazing package. I saw in pull request "Multiple line graphes in linechart" in another issue I saw fixed fonts in iOS project so I hope soon will be atleast pre-release with this features. Thanks

[2019-02-04 10:45] pinkysek opened #137 "BarChart bug when Label is string.Empty"
Hello, I found bug in BarChart when Entry Label is string.Empty. When I have more entries I set Entry Labels empty and I found a bug when its empty chart is not showing correctly. But when I used Label = " "; it works. You can see example on my screenshot (https://imgur.com/QSJXfNm). Its same on Android and iOS. Thanks.

[2019-02-04 23:47] jmuker commented on #89
I resolved this by setting the following
AnimationDuration = new TimeSpan(0)

[2019-02-13 19:09] CalvinNunes commented on #2
I'm also waiting a solution

[2019-02-15 22:52] Nixon-Joseph commented on #120
Hey all, working on a new nuget package now. Hope to get something up soon. My current plan is to basically pull the current latest feature branches into master after some simple testing. Will keep you updated if that changes.

[2019-02-15 22:53] Nixon-Joseph commented on #2
Hey all, working on a new nuget package now. Hope to get something up soon. My current plan is to basically pull the current latest feature branches into master after some simple testing. Will keep you updated if that changes. Should include font size setting ability.

[2019-02-16 02:03] Nixon-Joseph commented on #2
I'm having trouble here, because I don't have access to a mac to build these projects for ios. So I can only build the uwp, and android projects. So no way to update the nuget and have it available for ios. For the moment, if you need to get some updates, the easiest method is to clone the repo, and build it locally, and include any changes you need for your project, and then just include the appr

[2019-02-16 02:04] Nixon-Joseph commented on #120
I'm having trouble here, because I don't have access to a mac to build these projects for ios. So I can only build the uwp, and android projects. So no way to update the nuget and have it available for ios. For the moment, if you need to get some updates, the easiest method is to clone the repo, and build it locally, and include any changes you need for your project, and then just include the appr

[2019-02-16 02:06] Nixon-Joseph commented on #128
@aloisdeniel, I've made a couple commits on the dev branch, could you build and push a new pre-release? I don't have access to a mac that can build apps.

[2019-02-16 02:09] rerickson1 commented on #2
@Nixon-Joseph I may be able to help, I have access to a mac at work.  Let me know what branch I can fork and add to...

[2019-02-16 02:31] Nixon-Joseph commented on #2
@rerickson1 Just had a thought, all of this is just c#, I'm not actually compiling applications. Should be able to just built the proper classes without any issues. Looking into it.

[2019-02-16 03:10] Nixon-Joseph commented on #2
Alright! I think I've successfully created and released a nuget package for both Microcharts, and Microcharts.Forms. Version is 0.8.4-pre. Please let me know if there are any issues with it. It's a totally different code base than the one I suggested an edit to earlier in this thread, but I think I've implemented a similar fix. @aloisdeniel did a load of work in the dev branch that never made it t

[2019-02-16 03:15] Nixon-Joseph commented on #4
Updated Entry class to ChartEntry https://github.com/aloisdeniel/Microcharts/commit/1000e8526d9d27921bc4728a89c69e04c28d1050

[2019-02-16 03:21] #13 closed

[2019-02-16 03:22] #2 closed

[2019-02-16 03:22] #19 closed

[2019-02-16 03:23] Nixon-Joseph commented on #19
Closing due to inactivity and apparent resolution.

[2019-02-16 03:25] Nixon-Joseph commented on #24
Closing due to inactivity and apparent resolution. @CalvinNunes if you wish to know about the maxValue label as an option, please start a new issue.

[2019-02-16 03:25] #24 closed

[2019-02-16 03:27] #28 closed

[2019-02-16 03:30] Nixon-Joseph commented on #29
This issue is a duplicate of [#5](https://github.com/aloisdeniel/Microcharts/issues/5).

[2019-02-16 03:30] #29 closed

[2019-02-16 03:30] #14 closed

[2019-02-16 03:34] Nixon-Joseph commented on #30
Hello! I'm attempting to clean up some of these older issues that haven't had any movement for a few months, if here is still and issue or enhancement to be made, please create a new issue, and feel free to reference relevant parts of this issue if necessary.

Thanks!

[2019-02-16 03:34] #30 closed

[2019-02-16 03:34] #31 closed

[2019-02-16 03:36] Nixon-Joseph commented on #32
This repo has been stale for a bit, but I'm coming in and am going to attempt to do as much as I can to continue this repo to keep it fresh, and growing. Please bear with me.

[2019-02-16 03:38] Nixon-Joseph commented on #35
Closing this due to apparent resolution.

[2019-02-16 03:38] #35 closed

[2019-02-16 03:40] Nixon-Joseph commented on #38
Can you please provide code samples for your issues?

[2019-02-16 03:41] Nixon-Joseph commented on #39
Not sure this is a Microcharts issue. But if this is still a problem, please feel free to open up a new issue.

[2019-02-16 03:41] #39 closed

[2019-02-16 03:42] #40 closed

[2019-02-16 03:44] Nixon-Joseph commented on #41
Connected to https://github.com/aloisdeniel/Microcharts/issues/36

[2019-02-16 03:45] Nixon-Joseph commented on #42
Hello! I'm attempting to clean up some of these older issues that haven't had any movement for a few months, if here is still and issue or enhancement to be made, please create a new issue, and feel free to reference relevant parts of this issue if necessary.

Thanks!

[2019-02-16 03:45] #42 closed

[2019-02-16 03:47] Nixon-Joseph commented on #43
Hello! I'm newly contributing to this project, and I plan on employing many of the suggested features in these issues. I'm still new to the project, so I can't commit to saying this will be included, but I promise to look into it.

[2019-02-16 03:48] #45 closed

[2019-02-16 03:51] Nixon-Joseph commented on #46
Hello! I think that a data binding makes a good amount of sense. Your implementation looks like it could have some promise. One thing I might consider adding is an update throttle to keep the ui performant.

I'm attempting to clean up some of these older issues that haven't had any movement for a few months, if here is still and issue or enhancement to be made, please create a new issue, and feel

[2019-02-16 03:51] #46 closed

[2019-02-16 03:52] Nixon-Joseph commented on #48
Hello! I'm attempting to clean up some of these older issues that haven't had any movement for a few months, if here is still and issue or enhancement to be made, please create a new issue, and feel free to reference relevant parts of this issue if necessary.

Thanks!

[2019-02-16 03:53] #49 closed

[2019-02-16 03:54] Nixon-Joseph commented on #50
Hello! I will look into implementing this feature!

[2019-02-16 03:55] Nixon-Joseph commented on #51
Hello! is this resolved for you? Thanks!

[2019-02-16 03:56] Nixon-Joseph commented on #54
@gunjanddave If you're still having a problem, please create a new issue with as much information as you can provide. Thanks!

[2019-02-16 03:56] #54 closed

[2019-02-16 03:58] Nixon-Joseph commented on #55
Hey all, this should now be available in 0.8.4-pre.

[2019-02-16 03:59] Nixon-Joseph commented on #58
Hello! I'm attempting to clean up some of these older issues that haven't had any movement for a few months, if here is still and issue or enhancement to be made, please create a new issue, and feel free to reference relevant parts of this issue if necessary.

Thanks!

[2019-02-16 03:59] #58 closed

[2019-02-16 03:59] Nixon-Joseph commented on #57
Hello! I'm attempting to clean up some of these older issues that haven't had any movement for a few months, if here is still and issue or enhancement to be made, please create a new issue, and feel free to reference relevant parts of this issue if necessary.

Thanks!

[2019-02-16 03:59] #57 closed

[2019-02-16 04:01] Nixon-Joseph commented on #59
Hello! still an issue? if so, please provide all relevant information -> xamarin version, os, os version, microcharts version, and respective code (or at least snippets). Thanks!

[2019-02-16 04:01] #60 closed

[2019-02-16 04:02] Nixon-Joseph commented on #62
Hello! I'm attempting to clean up some of these older issues that haven't had any movement for a few months, if here is still and issue or enhancement to be made, please create a new issue, and feel free to reference relevant parts of this issue if necessary.

Thanks!

[2019-02-16 04:02] #62 closed

[2019-02-16 04:02] #63 closed

[2019-02-16 04:03] Nixon-Joseph commented on #64
Can you please provide your project configuration?

[2019-02-16 04:05] Nixon-Joseph commented on #66
duplicate of [#5](https://github.com/aloisdeniel/Microcharts/issues/5)

[2019-02-16 04:06] Nixon-Joseph commented on #69
Hey @Clancey I'm a new contributor to the project, and one of my first tasks is going to be cleaning up those tabs. Thank you for your comment!

[2019-02-16 04:06] #69 closed

[2019-02-16 04:07] Nixon-Joseph commented on #71
Have you tried creating the chart, and setting it as the content in a horizontal scroll view?

[2019-02-17 13:40] WahidNasri commented on #55
can't find the namespace `Microcharts.iOS` anymore..

[2019-02-17 15:08] Nixon-Joseph commented on #55
@WahidNasri looking into it.

[2019-02-17 17:03] Nixon-Joseph commented on #55
@WahidNasri I found the issue, the Microcharts package is missing the platform dlls. Looking into building the nuget package to include those dlls.

[2019-02-18 00:29] Nixon-Joseph commented on #128
@aloisdeniel Could I get your .nuspec file and/or your process used for creating your Microcharts nuget package? I can't seem to find a good way to include the `.Droid, .iOS, .macOS, and .Uwp` projects into the package like you did.

[2019-02-18 00:55] Nixon-Joseph commented on #55
@WahidNasri, alright, just pushed up [0.8.4.1-pre](https://www.nuget.org/packages/Microcharts/0.8.4.1-pre). This one should have all the appropriate dlls.

[2019-02-19 09:43] antkers commented on #120
Hello Nixon-Joseph, how is it going with the new nuget package? Can we expect it soon?
Thank you, Anton

[2019-02-19 12:13] Nixon-Joseph commented on #120
Hey yes, there's a new pre release package out 0.8.4-pre for forms and 0.8.4.1-pre for base microcharts. If you're using forms, let me know, I may need to build a new one of those referencing the new base microcharts.

[2019-02-19 12:17] antkers commented on #120
Yes I'm currently using both, 0.8.4-pre for forms and 0.8.4.1-pre fro base microcharts. Would be great if you could build new nuget packages of those two projects, thank you!

[2019-02-19 12:29] Nixon-Joseph commented on #120
Alright, just built and pushed 0.8.4.1-pre for the forms package, everything should match now.

[2019-02-19 13:40] antkers commented on #120
Hello Nixon-Joseph,
unfortunately the font of the labels of the charts is still wrong.
It seems the project is still referencing SkiaSharp.Views.Forms 1.59.1.1 (instead of 1.68.0 where the font issue is fixed):
![image](https://user-images.githubusercontent.com/21169027/53018350-6d772c00-3452-11e9-9557-401e2dde51ea.png)

I additionally added SkiaSharp.Views.Forms 1.68.0 to the project and the font

[2019-02-20 00:01] Nixon-Joseph commented on #120
Ahh I see, there's compatibility issues for that version of Skiasharp and the .net portable version the microcharts library is building for. I'll have to drop the .net portable target to update SkiaSharp it looks like.

[2019-02-20 01:49] Nixon-Joseph commented on #120
Updated all dependencies, pushing up 0.8.5-pre

[2019-02-20 14:13] dannmat commented on #59
Still an issue for me!

- Xamarin Version: Xamarin Forms 3.4.0.1009999
- OS: Android and iOS (issue on both)
- iOS Version: 12.1.4
- Android Version: Android Pie (will get exact version later)
- Microcharts Version: Latest Stable (0.7.1)

The issue happens with the sample code:
[code]

Thanks!

[2019-02-20 22:25] mattleibow commented on #120
FYI: @Nixon-Joseph We dropped support for PCL in SkiaSharp v1.60.0.

[2019-02-27 16:04] robsoft commented on #50
Ahh... I just started using Microcharts (pie charts at first), I had assumed that multiple series for line charts would already be there. My bad!

Looking forward to seeing this implemented, will maybe just draw something simple with Skia for the time being.

[2019-02-28 11:26] Oopsys commented on #112
Hey, I'm faced to the same problem, any solution yet !

[2019-03-05 03:12] erickvelasco11 opened #138 "RadialGaugeChart - Stroke Width is proportional to chart's radio"
I'm reviewing the code for [RadialGaugeChart](https://github.com/aloisdeniel/Microcharts/blob/master/Sources/Microcharts.Shared/Layouts/RadialGaugeChart.cs) because when I change LineSize the chart change radically.

I'm trying to use a RadialGaugeChart with one Entry, like a CircleBar with percentage, but the stroke is very big, so I change the LineSize, but this change the size of chart proporti

[2019-03-07 08:16] WahidNasri commented on #55
The Typeface property is well exposed now , thank you.

But When I use it like `Typeface = SKTypeface.FromFamilyName("Arial")` I get an exception `System.EntryPointNotFoundException: sk_fontstyle_new`.

And this is the same with any family name (and I am sure that the family name exists on the system)

[2019-03-07 18:52] cassionandi opened #139 "RadialGuageChart - Width and Height"
I am using Microcharts.Forms, and I would like to know how to set the size of the chart correctly. For now I am adding a few empty and transparent Entry (ChartEntry) to the chart, so it grows. How to make a bigger RadialGuageChart using only some height and width parameter?

Thanks!

[2019-03-14 15:28] AloysiusParedes commented on #50
Microcharts is awesome! Can't wait for this feature to be added!

[2019-03-14 18:46] CalvinNunes commented on #138
I had the same idea, use RadialChart with single entry, like a CircleBar with percentage, but that issue is a problem, the `LineSize` property really changes the chart size, when everything I wanted is just a thin line in a decent sized chart. Did you find a solution to this?

[2019-03-15 00:24] RaulGrimaldo commented on #50
Hi! thanks to the owners of microcharts!,

It,s posible have Two charts in a chart using a GridLayout "This is for xamarin android"

` <GridLayout
	   xmlns:android="http://schemas.android.com/apk/res/android"
	   android:layout_width="match_parent"
	   android:layout_height="match_parent"
	   android:rowCount="15"
	   android:columnCount="3"
	   android:orientation="vertical"

Charts are defined

[2019-03-15 09:01] PanagiotisSpyrakis commented on #139
This is an issue for me too and i would like to know the answer please

[2019-03-15 09:23] fastlater opened #140 "wpf and windows form?"
I know that the main target of this library is xamarin but it could work without problems or bugs in a wpf and/or windows form project? Will it work on projects with  target frameworks like 4.6 or 4.7?
I create windows applications too so I hope I can use this library for both cases. Thanks in advance.

[2019-03-15 15:44] AloysiusParedes commented on #50
Can this be done with Xamarin Forms? I am also wondering if there is a way to get better labels like x-axis and y-axis labels

[2019-03-15 15:49] AloysiusParedes commented on #26
Any chance to get LabelOrientation in the current stable version? (I am on 0.7.1 for Microcharts and Microcharts.Forms)

[2019-03-19 15:09] eddie010 commented on #115
@mgramley have you found any workaround for this yet? I'm running into this issue right now as well. I don't really want to go as far as to add another controller that will be put on top of the bottom of the chart so that I can show the horizontal labels on 'larger' datasets...

[2019-03-20 04:52] mgramley commented on #115
@eddie010 I haven’t found a good solution to this yet. I’ve been a bit inactive on the project that was using micro charts which is why I haven’t gotten around to fixing it. My plan was to pull the source and try to contribute to the project with a solution, but I haven’t gotten around to it yet.

[2019-03-20 19:49] CalvinNunes commented on #122
It would be great for interactivity and to open a new "page" showing details about the clicked label/value.
It would be a nice Enhancement

[2019-03-22 15:21] giliardabreu commented on #28
Could you show your xaml content, the layout? Thank you

[2019-03-26 13:08] biapar commented on #139
How do you do that?

[2019-03-26 15:44] biapar commented on #113
+1

[2019-03-26 16:54] ahurrell commented on #50
Has there been any updates into getting this implemented?

[2019-03-26 20:09] biapar commented on #114
+1

[2019-03-27 22:49] mjfara commented on #55
Same issue here, any fix?

[2019-03-31 13:35] WahidNasri commented on #55
anyone seeing this?

[2019-03-31 19:50] jfarinhote commented on #108
If you define a default width the chart will appear

[2019-03-31 19:57] virux99 commented on #108
Thanks for your response,
Solved this issue.

On Mon, Apr 1, 2019, 12:50 AM João Farinhote <notifications@github.com>
wrote:

[2019-04-15 21:41] conor-codes commented on #120
@Nixon-Joseph Hi Nixon, i'm currently on 0.8.5-pre and still getting the font issue on iOS 12. Has anyone confirmed 0.8.5-pre fixed their font issue?

[2019-05-08 06:39] dhpanteon opened #143 "Xamarin WPF"
Is that supports Xamarin WPF?

[2019-05-09 11:22] ScarfaceNo1 commented on #48
Hello,
I need this feature for my actual project..

Are there any news?

[2019-05-09 11:59] Nixon-Joseph commented on #48
Sorry, been stupid busy, haven't had time to work on much. I'd happily accept a pull request if you'd like to try your hand at it. I likely won't be in a place to do anything myself this month.

[2019-05-13 08:34] ScarfaceNo1 commented on #48
I think I´m not able to do this, but I´ll try. I´m relative new to C#. I usually do C and I'm not familliar with objective programming.

[2019-05-13 12:14] Nixon-Joseph commented on #48
Alright, if you try, I would recommend using the develop branch.

[2019-05-13 14:35] Huii commented on #118
Are there any plans on adding axes? This is a very crucial feature for a plotting package.

[2019-05-19 15:08] wslpdgg commented on #143
i have the same question ,Does it support WPF ?

[2019-05-20 18:43] kanaloa2 opened #144 "Label text appears as boxes on Xamarin.Mac"
Nice chart library, easy to implement, but the label fontface is all boxes. I haven't found where or how to set the fontface or typeface of the charts so the labels will render as readable text instead of little boxes...

[2019-05-21 05:18] eliyasbaby commented on #33
Any updates on these feature?

[2019-05-21 16:41] kanaloa2 commented on #55
I'm getting this same issue trying to set typeface to Arial. I'm trying to set the typeface so I can get the labels to show up as readable text instead of little boxes which is all I can get right now. See the screenshot attached. Otherwise this library looks like it would be perfect for my purposes, if only I could get the text to be readable.
![Screen Shot 2019-05-21 at 9 39 50 AM](https://user-

[2019-05-21 16:43] kanaloa2 commented on #144
Here's a screenshot showing the result of what I'm getting...
![Screen Shot 2019-05-21 at 9 39 50 AM](https://user-images.githubusercontent.com/50844297/58114478-adae8d80-7bac-11e9-8347-31b52fe183fd.png)

Here's the method I use to create the chartview seen above...
`public ChartView GetAllocChartView()
        {

            var invTypes = converters.GetTypeOfInvestmentList();
            List<Ch

[2019-05-21 16:45] kanaloa2 commented on #144
I updated to the latest pre-release 0.8.5-pre

[2019-05-21 16:46] kanaloa2 commented on #144
I also get this exception when I try to set the typeface to Arial... "sk_fontstyle_new"

[2019-05-25 05:07] bbenetskyy opened #145 "Is this project still alive?"
I want to try `Microcharts` in one of my next projects, but the count of untouched Issues, date of the last Commit and count of unmerged Pull Requests not sure if this project still alive.

Could you please accept or deny this suggestion?

[2019-05-29 00:07] brenos commented on #144
I too, but the labels continue boxes.

[2019-05-29 06:25] kanaloa2 commented on #144
I solved it by downloading the code to my project and removing the reference to the nuget package. Now the labels are rendering correctly:

Before…
[cid:image001.png@01D515AC.A9DDEEF0]

After…
[cid:image002.png@01D515AC.A9DDEEF0]
With the code itself it might be fairly easy to add additional functionality like clickable labels and other interactive elements. I’d be glad to share anything I add to

[2019-05-29 09:26] toomasz commented on #145
@bbenetskyy It seems its dead, maintainer moved away from xamarin to flutter

[2019-06-01 09:28] eliyasbaby commented on #136
please merge pull request for "Multiple line graphes in linechart"

[2019-06-04 14:00] NickSpag commented on #128
@Nixon-Joseph I reached out to you via email to see if we can't get another release out soon. :)

[2019-06-05 09:15] bbenetskyy commented on #145
@toomasz thanks for your answer

[2019-06-05 09:15] #145 closed

[2019-06-07 23:22] Nixon-Joseph commented on #145
@bbenetskyy it's not totally dead, @NickSpag and I are the current/new maintainers. Sorry for the stagnant nature lately, I've been super busy and haven't had a lot of time to devote to this. @NickSpag just came on not too long ago, and seems super willing to keep it going more consistently.

[2019-06-09 21:01] Swdvader commented on #2
I need this, fixed label issue for different Android devices.  Thanks!

[2019-06-25 12:24] tualatin commented on #110
I need this layout too!

[2019-07-03 00:50] earamsey opened #149 "Feature Request: Clickable Labels"
I have a PieChart. What I am trying to do is remove an item from chart when user clicks on a label.  So, something like;

LabelClick event handler would have reference to ChartEntry and LabelClickData so I have handle to what I want to remove.

Is this possible?

[2019-07-04 05:31] AshishMantosh commented on #112
I am facing the same problem. Please update if there's any solution to this.

[2019-07-05 18:53] tessarolli commented on #143
Yes, it does, you just need to configure a few things:

- Add theChartViewRenderer below on your native WPF project;
- Add nuget packages on WPF project: SkiaSharp.Views and SkiaSharp.Views.Forms ;

ChartViewRenderer.cs

using Microcharts;
using Microcharts.Forms;
using SkiaSharp.Views.Desktop;
using SkiaSharp.Views.WPF;
using YourProject.WPF.Renderer;
using Xamarin.Forms.Platform.WPF;

[assembly:

[2019-07-15 09:37] rajiganesh opened #150 "Zoom event for Microcharts"
I have a stack layout which contains microcharts chartsView. I would like to have zoom option for the page. Is there any work around for this issue? I saw old posts which is still now not closed. It would be really helpful if any of you reply.

cheers,
Raji

[2019-07-15 12:58] cassionandi commented on #139
@PanagiotisSpyrakis and @biapar

My solution (if I can call it that way) was to put my Graph under and Grid Row with Star (*) sizing.

`<microcharts:ChartView
                                                   Chart="{Binding Grafico}"
                                                   Margin="0"
                                                   WidthRequest="170"

[2019-07-18 12:23] ScarfaceNo1 commented on #48
Hi,
we´ve already talked about the same issue and I said I´ll try to prepare a salvation.
I´ve done it... But next Problem.
I can´t upload the files.
I´m not able to make a pull request..

[2019-07-18 14:10] MicheleOT commented on #143
First of all thank you so much @tessarolli for your code, you saved me from hours of research.
The only thing about it is that it doesn't work with the Property Changed, to make it work you need to change it a little bit to force the redraw when a property is changed.
Just ovverride OnElementPropertyChanged nad Invalidate the SKElement:

        protected override void OnElementPropertyChanged(obj

[2019-07-18 21:06] tessarolli commented on #143
Glad to help.
Great catch, gonna do it here. Thanks.

Em qui, 18 de jul de 2019 10:10, Michele <notifications@github.com>
escreveu:

[2019-07-21 01:49] Nixon-Joseph commented on #48
Are you attempting to sync directly with this project? To make a pull request, you have to follow these steps:
Step 1: Fork the original project into your own GitHub account, and then clone it to your computer.
Step 2: Make a local branch for your new code.
Step 3: Create!
Step 4: Merge your branch into master, then delete it.
Step 5: Stage. Commit. Push.
Step 6: Your First Pull Request.

[2019-07-27 02:29] Nixon-Joseph commented on #150
Can you explain what you mean by zoom? Do you mean to use a pinch gesture? To simply call `Zoom()`? or something else? Any information would help us decide whether or not to pursue this as a new feature.

[2019-07-27 02:30] Nixon-Joseph commented on #149
Should be possible. I will bring it up with the team.

[2019-07-27 02:35] Nixon-Joseph commented on #144
All you had to do was reference the projects locally, and everything worked? Or did you have to make some other changes?

[2019-07-27 02:36] #143 closed

[2019-07-27 02:37] Nixon-Joseph commented on #140
I'm honestly not sure, would you be willing to try it and let us know?

[2019-07-27 02:40] Nixon-Joseph commented on #139
What platforms is this an issue on?

[2019-07-27 02:43] Nixon-Joseph commented on #137
Noted! Thank you for the information. Can you tell me which version of Microcharts you're using?

[2019-07-27 02:44] Nixon-Joseph commented on #137
Also, if you wouldn't mind, could you send up your xaml and supporting data (even if it's contrived), if you've got it handy, it'll speed up the debugging process.

[2019-07-27 03:10] Nixon-Joseph commented on #134
When creating a chart, they all have a `LabelTextSize` property on the Chart. i.e.
[code]

[2019-07-27 03:15] Nixon-Joseph commented on #125
@dannmat  Can you please provide a small code sample or repro so that I can test and fix this efficiently?
Thanks!

[2019-07-27 03:20] #140 closed

[2019-07-27 03:22] Nixon-Joseph commented on #136
I'll attempt to get another pre-release out this weekend.

https://github.com/dotnet-ad/Microcharts/pull/126

[2019-07-27 03:28] Nixon-Joseph commented on #138
Can you provide a small repro or code example? There are a lot of issues open that I'm going to try to get through, and not having to build a reproduction myself and guess at certain things would make it go a lot faster. Also, what version of xamarin/Microcharts/android/iOS, etc.

[2019-07-27 03:31] Nixon-Joseph commented on #122
similar to https://github.com/dotnet-ad/Microcharts/issues/83

[2019-07-27 03:32] Nixon-Joseph commented on #149
similar to https://github.com/dotnet-ad/Microcharts/issues/83

[2019-07-27 03:38] Nixon-Joseph commented on #120
Can you confirm if this is still an issue? Compiling a to-do list, and need to know what's still important. Thanks!

[2019-07-27 03:42] Nixon-Joseph commented on #118
looking into including this. There's some conflicts, and I've requested benoitjadinon attempt to handle them so I don't break something.

[2019-07-27 03:51] Nixon-Joseph commented on #115
I believe @aloisdeniel didn't implement something like this on purpose, to keep the data represented by the library as simple as possible. This library wasn't designed for complex/super detailed data. That said, I'll look into it, and see if there's anything that we can accomplish.

[2019-07-27 03:53] Nixon-Joseph commented on #114
Can you provide some more information please? A repro would be best.

[2019-07-27 05:31] PanagiotisSpyrakis commented on #139
iOS

Στις Σάβ, 27 Ιουλ 2019, 05:40 ο χρήστης Joseph Nixon <
notifications@github.com> έγραψε:

[2019-07-28 02:12] kanaloa2 commented on #144
That’s it. I removed the reference to the Nuget package after adding the project files to my solution and voila!

Sent from my iPhone

On Jul 26, 2019, at 7:35 PM, Joseph Nixon <notifications@github.com<mailto:notifications@github.com>> wrote:

All you had to do was reference the projects locally, and everything worked? Or did you have to make some other changes?

—
You are receiving this because

[2019-07-28 13:28] conor-codes commented on #120
@Nixon-Joseph For me it's not an issue, I can't exactly say what fixed it but the font's are rendering correctly now.

[2019-07-29 07:51] dannmat commented on #125
Hi @Nixon-Joseph

Here's an example, running Microcharts 0.7.1:

[code]

Xaml side:

[code]

[2019-07-29 09:32] rajiganesh commented on #150
Hello Nixon,

I have created a chart in a content page. I would like to zoom(Pinch Gesture) the chart to see the features more clearly in the chart. Could please let me know if its possible with microcharts or not?

Thanks
Raji

[2019-07-30 12:05] markbangert commented on #118
I am also highly interested in this feature!

[2019-08-08 15:57] AshishMantosh commented on #112
just have to install both MicroCharts and MicroCharts.Forms, this solved the problem.

[2019-08-08 18:46] NPadrutt commented on #128
@NickSpag @Nixon-Joseph  I noticed that the current nuget and all the pre versions don't work on iOS (or at least my app). I started bundling the current dev branch and that works fine. So I think an updated nuget would be pretty nice.
Also I merged some of the PR #87 so that my donut chart resizes itself and don't overlaps the labels and the option to have a label placement. If you want I can see

[2019-08-15 09:08] zzl4883a opened #153 "Help!~ I want to refresh my LineChart by a button"
I have a problem for help~ I want to change the LineChart view dynamic. I put a button,the button's clicked_method called "CreateChart",and this method passes two parameters(double []
dataX and double [] dataY).
I want to change the LineChart view when I click the button pass different parameters(dataX and dataY). There are two pieces of code at the bottom,the pieces 1 code can show lineChart norm

[2019-08-15 09:09] zzl4883a commented on #153
pieces2:
`public void CreateChart(double[] dataX, double[] dataY)
        {
            if (dataX.Length == dataY.Length)
            {
                List<Microcharts.Entry> entryList = new List<Microcharts.Entry>();
                for (int i = 0; i < dataX.Length; i++)
                {
                    var entry = new Microcharts.Entry(float.Parse(dataY[i].ToString()))

[2019-08-15 09:10] zzl4883a commented on #153
**pieces2:**
`public void CreateChart(double[] dataX, double[] dataY)
        {
            if (dataX.Length == dataY.Length)
            {
                List<Microcharts.Entry> entryList = new List<Microcharts.Entry>();
                for (int i = 0; i < dataX.Length; i++)
                {
                    var entry = new Microcharts.Entry(float.Parse(dataY[i].ToString()))

[2019-08-15 09:15] zzl4883a commented on #118
I am also highly interested in this feature too!

[2019-08-15 09:19] zzl4883a commented on #80
Have you solved this problem?

[2019-08-15 12:14] StriBog45 commented on #80
No

[2019-08-23 13:05] pinkysek commented on #136
@Nixon-Joseph still there is not new pre-release :)

[2019-08-26 16:31] TariqNatour opened #154 "Multiple values for each ChartEntry!"
Is it possible to have multiple values for each ChartEntry?
I mean for January, I will have for example 4 items for service 1, 6 items for service 2 and 8 items for service 3.
Thank you!

[2019-08-28 02:43] yyyt2020 opened #155 "It does not support Chinese？"

[2019-09-23 12:10] AshishMantosh opened #156 "Getting Runtime Exception when packaging in UWP Release Configuration with .Net Native toolchain"
.Net Native Tool Chain to push app in Microsoft Store.

The app throws a runtime exception and crashes when the page using Microcharts is opened. It is is working fine with .Net Native Tool chain disabled but it is essential that we use this.
Please provide a resolution for this as soon as possible. Thanks in advance.

Here below is the crash log :
CRITICAL 09/23/2019 11:39:45.290 AM: C:\Users\slo

[2019-09-24 06:10] AshishMantosh commented on #156
Used Runtime Directives to fix this issue. Added the SkiaSharp assembly in the runtime directive xml file present in the UWP project. See below code line for reference :

****
<Assembly Name="SkiaSharp" Dynamic="Required All" />
****

[2019-09-24 06:11] #156 closed

[2019-09-26 13:11] mikeedwards83 opened #157 "Object Disposed"
Hi

I am seeing the follow stack when using Microcharts on Android devices. This error is intermittent but causes the entire app to crash.

FATAL EXCEPTION: main
Process: app.FarmingTime, PID: 14379
android.runtime.JavaProxyThrowable: System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Microcharts.Droid.ChartView'.
  at Java.Interop.JniPeerMembers.AssertSelf (Java.Intero

[2019-09-27 06:23] mikeedwards83 commented on #157
Changing the animation duration to 0 seems to have improved the situation.
``
 chart.AnimationDuration = new TimeSpan(0,0,0);
``

[2019-09-27 08:53] chriscooper01 commented on #50
Hi Thanks for the Cheat of using Grid to add two lines, but I'm not 100% there.  If you look at the below image the labels and values are overlapping.. Is there anyway around this?

![image](https://user-images.githubusercontent.com/18283527/65756247-965c4f80-e10c-11e9-9bc9-6025444dcda1.png)

Any help would be appreciated

[2019-09-28 18:13] jfarinhote opened #158 "string line breaks"
Is it possible to break a string value in 2 or more lines? Let us say that I want to show in the same chart 2 values and i will distinguish them using a line break one on top and the next one bellow.

new ChartEntry(100)
                {
                    Label = "January",
                    ValueLabel = "gas: 20" + line break + "electricity 30"
                };

[2019-10-07 02:00] RaulGrimaldo commented on #50
The best solution I found was to put the values in spinners so that they are available to be consulted, I have not found any method to improve this and put only very important values in the graphs. Kind regards

[2019-10-15 14:12] bleo0001 commented on #26
i have tried this and it appears the properties don't exist in the version stated? has anyone got this working?

[2019-10-24 13:33] AndreiZachi commented on #26
@AloysiusParedes

[2019-10-26 10:41] bodison opened #159 "./Documentation/api is empty"
Are you planning to add a documentation?

[2019-11-06 21:50] geojorg commented on #26
It Works just Fine.
Example:
Frecuent = new BarChart() { Entries = Dl,LabelTextSize=42f, LabelOrientation=Orientation.Horizontal, ValueLabelOrientation=Orientation.Horizontal};

![image](https://user-images.githubusercontent.com/54997758/68341010-86457180-00b5-11ea-8664-42ce2d0c48fe.png)

[2019-11-07 21:15] tayoufabrice commented on #143
In my case I made this because I used the **BindableProperty** `ChartProperty` instead
[code]

[2019-11-13 03:37] Wpahiakos opened #160 "Flip labels to be horizontal"
Is it possible to flip labels to be horizontal on a line chart?

[2019-11-13 03:56] #160 closed

[2019-11-13 04:30] Wpahiakos opened #161 "Margins for all sides"
Anyway to set the margins for each side of a line chart?

[2019-12-02 09:54] edamreed opened #162 "Donut chart lables behind Donut"
If the labels are long enough, the text goes behind the Donut.
![image](https://user-images.githubusercontent.com/5575429/69949559-a700bb80-14e9-11ea-90e4-6a064aa2ea57.png)
Is it possible for the text to be in front of the Donut?

[2019-12-17 08:06] cbalakus opened #163 "view SetDynamicResource"

[2019-12-22 15:52] hupo376787 commented on #136
I'm also looking foward.

[2020-01-14 10:31] NaiShengYu opened #165 "Microcharts.Entry can't show Chinese"
new Microcharts.Entry(dataCountModel.SewageCount)
                {
                    Color = SKColor.Parse("#B34AFF"),
                    ValueLabel = "55",
                      Label = "中文",
                },
When it is set to Chinese, it will be displayed as a block in the app instead of Chinese

[2020-01-20 12:54] leroygumede commented on #94
Hey, @Ruchita-Bora did you ever find a solution?

[2020-01-26 15:15] w115 opened #166 "Legend Positioning"
Hi,
Is there a way to position Legend Labels ? - I want the Pie chart to be in the left side and the legend on the right. Horizontaloptions doesnt do anything useful.
Mine get stacked to one side, im not sure why or what the logic is:
![image](https://user-images.githubusercontent.com/25061548/73137287-34cad400-405f-11ea-9e0f-c13bb419dd38.png)

[2020-01-28 16:32] Epictek commented on #165
Microcharts needs to be updated to support choosing a font.

https://github.com/mono/SkiaSharp/issues/232

[2020-02-03 17:27] hunterbrodie opened #167 "Microcharts breaks on iOS 13.3.1"
After updating to iOS 13.3.1, microcharts on my application stopped showing. I tested this with another phone as well, and the iOS update broke it on that phone too.

[2020-02-05 15:00] denis-reichelt commented on #108
Hi I have the same issue on Android. Used in normal ScrollView it shows fine. When I change this to HorizontalScrollView it isn't shown.
What is the default width you mention?

[2020-02-06 09:27] jfarinhote commented on #108
Hi
I believe any valid width will do.

[2020-02-13 09:40] VeredRozen opened #168 "Save the chart as an image"
Hey!
Is there any way to save the chart as an image?

Thank you,
Vered

[2020-02-19 12:27] daredloco opened #169 "Some Labels aren't drawn correctly"
Some of the labels on my chart aren't drawn correctly, most likely because of the space between them. As you can see on the screenshot the numbers above 9 are sometimes missing and only shown as 1 and not 11, 12 etc. as it should.
![Screenshot_1582115005](https://user-images.githubusercontent.com/60240491/74834174-ac57f000-52f9-11ea-8b99-c75cca05fbea.png)

[2020-02-19 19:51] sethom commented on #167
I'm running it inside of iOS 13.3. This is my first time to use the library but the basic example works for me. Is it still not working for you?

[2020-02-22 16:11] marisrr opened #170 "Cannot resolve reference"
Visual studio 2019;
NET Standard 2.0
Xamarin Froms: 4.4.0.991640

![image](https://user-images.githubusercontent.com/60174460/75095538-4fc92f00-559e-11ea-9fae-68866ebf8c6f.png)

[2020-02-28 14:25] yesmeco commented on #167
I have updated to iOS 13.3.1, since then I have performed the same issue.

[2020-02-28 14:46] hunterbrodie commented on #167
Sethom it works in 13.3, but not 13.3.1 for me

[2020-02-29 19:57] dammanjit commented on #167
did you get any solution? I am facing the same problem.

[2020-02-29 21:55] hunterbrodie commented on #167
I have not found any solution

[2020-03-06 10:02] mina5500 opened #171 "Compatibility with .net standard 2.x Xamarin forms"
We need this such great package to be compatible with .net standard 2.x Xamarin Forms in order to be included in our cross platform mobile app project.

[2020-03-08 19:13] irongut commented on #171
@mina5500  That is not how .Net Standard works. .Net Standard 2.0 includes everything that .Net Standard 1.4 includes plus extra APIs, mostly for device or Windows specific stuff, meaning that anything which is .Net Standard 1.4 compatible is automatically .Net Standard 2.0 compatible. When it comes to .Net Standard and compatibility a lower version is better as higher versions are more restrictiv

[2020-03-08 19:16] irongut commented on #170
@marisrr Add the latest pre-release nugets for Microcharts and Microcharts.Forms to your solution and it should work.

[2020-03-15 06:57] mina5500 commented on #102
ok thanks for your comment @RazorscreaM
but is there any stable release coming soon as the last one was in 2017
![image](https://user-images.githubusercontent.com/50614791/76697069-05b60380-669b-11ea-8549-f0a920859fc3.png)

[2020-03-17 05:23] virux99 commented on #108
Hi,
  I am writing to you to request your participation in a brief survey .
The survey is very brief and will only take about 5 minutes to complete.
Please click the link below to go to the survey Web site
https://www.surveymonkey.com/r/Y5HN728

Regards,
Junaid

[2020-03-18 22:54] virux99 commented on #108
Done brother!!

On Tue, Mar 17, 2020, 10:23 AM malik junaid <junaid.m9999@gmail.com> wrote:

[2020-03-19 04:53] virux99 commented on #108
--

Zeeshan Sumar_ibexfppk from FoodPanda
ref:_00Dw0l3C7._5001r2mPphH:ref

[2020-03-20 15:22] EmanueleUniroma2 commented on #50
Hi, i made this class in a few minutes. Didn't debug it or anything. It works...
Just pass a List<List<Entry>> to the field "multiline_entries" and remember to change color palette for each graph.

Bye

using Microcharts;
using SkiaSharp;
using System;
using System.Collections.Generic;
using System.Text;

using System.Linq;

using Entry = Microcharts.Entry;
using LineChart = Microcharts.LineChart;

[2020-03-22 02:44] cesarau41 commented on #166
this may help you: https://stackoverflow.com/questions/47535190/xamarin-microcharts-graphics-and-label

[2020-03-26 11:51] AbdelrhmanHamedTawfik opened #172 "FlowDirection, Arabic Characters Bug"
hello,
i wanted to address the following issues:
1-The flow direction of the micro charts for example: when i change my app language to Arabic the direction of the legends of the micro charts stay on the same position as if you are using English language.

2-The Arabic Characters  appears as squares, even with using typeface.familyyfont = Arial

see the attached screenshots
![image](https://user-i

[2020-03-26 23:37] NdubuisiJr commented on #118
Do you mean something like this [skia-chart](https://github.com/NdubuisiJr/skia-chart)

[2020-03-27 18:36] kstoj opened #173 "Expat XML Parser version 2.1.0 contains known vulnerabilities."
Microcharts dependency on skiaSharp package (which references Expat XML Parser version 2.1.0) opens the whole package to a Trojan horse ADVAPI32.DLL attacks. Is there a plan to close this vulnerability? If yes, then when? If not, then what is the recommendation for the solutions which are using Microcharts package and have been flagged by the security scanning application to be opened to such atta

[2020-03-29 15:35] NdubuisiJr commented on #50
All this cheats given on this issue will work perfectly if we disregard the importance of scaling or drawing to scale. Most times you want to plot multiple lines that scale withing the same range of data points both in x and y axis.

There is a library that has implemented this functionality but it is currently in a crude state (not released). You can help get it ready for release. click [here](ht

[2020-03-30 03:30] MikiraSora commented on #165
![image](https://user-images.githubusercontent.com/7549173/77872542-cd591c80-7279-11ea-9b03-3f1b215ef06a.png)

[2020-03-31 08:18] chenzhenghong commented on #165
请指定：typeface

        var fontManager = SKFontManager.Default;
	var typeface = fontManager.MatchCharacter('替换');

	return new LineChart()
	{
		Entries = entries,
		Typeface = typeface,
		LineMode = LineMode.Straight,
		LineSize = 4,
		PointMode = PointMode.Circle,
		PointSize = 18,
		LabelTextSize = 12
	};

[2020-04-02 15:08] mdmota commented on #50
It seems that the owner of the plugin will not implement this feature. 2 years and nothing.
What do you think?

[2020-04-02 18:17] NdubuisiJr commented on #50
@mdmota I don't think this plugin is being supported anymore... Something else is being developed [here](https://github.com/NdubuisiJr/skia-chart)

[2020-04-02 18:53] EmanueleUniroma2 commented on #50
You are right, i kept improving my class since my first post. this ones does scale well.
Remember, pass labels only to the first set of entries.

Enjoy my friend.

[code]

[2020-04-02 19:01] mdmota commented on #50
I didn't understand how SkiaSharp works. Do I have to import the entire project?
I was unable to import the classes with the nuget library installed

[2020-04-02 19:06] EmanueleUniroma2 commented on #50
No skia si embedded in the microchart library, just use version 6.x and not
7.x

Il giorno gio 2 apr 2020 alle 21:01 mathbh <notifications@github.com> ha
scritto:

[2020-04-02 19:10] mdmota commented on #50
Microcharts 0.6.2 ?

[2020-04-02 19:11] EmanueleUniroma2 commented on #50
Yes,

Il giorno gio 2 apr 2020 alle 21:10 mathbh <notifications@github.com> ha
scritto:

[2020-04-06 07:02] AshishMantosh commented on #173
Need updates on this. Please respond with a potential resolution. Thanks!

[2020-04-06 14:33] kstoj commented on #173
Stated potential resolution is for the Microcharts to be updated with the Expat XML Parser version 2.2.5 or greater which should close the vulnerabilities.

[2020-04-07 09:22] AshishMantosh opened #174 "Pre-Release branch"
Can somebody point me to the latest pre-release branch?

[2020-04-07 09:25] AshishMantosh commented on #174
I suppose it is the "develop" branch.

[2020-04-07 09:25] #174 closed

[2020-04-07 18:10] maxima120 opened #175 "There is nothing in the dll except ChartView"
I have Xamarin Forms 4.5 app
I installed nuget Microcharts.Forms 0.7.1 (Sep 2017) and only thing there is its a `Microcharts.Forms.ChartView`

There is no BarChart or Entry objects.. Whats going on?

(P.S. there is also a weird nuget called DevPirates.Microcharts.Forms which seems a little bit fresher but it has the same issue - only a single class in the whole dll)..

Help please

[2020-04-07 18:28] maxima120 commented on #175
resolved: installed also `Microcharts` (without .Forms) for the Xamarin.Forms projects

[2020-04-07 18:28] #175 closed

[2020-04-07 19:19] CDrosos commented on #159
Yes or at least a list with various chart properties

[2020-04-07 19:21] CDrosos commented on #137
I have noticed this bug too, i could make a project for you if you want but i only code on Xamarin.Android

[2020-04-08 13:35] AshishMantosh opened #176 "[QUESTION] Which is the latest Pre-Release branch?"
Can somebody point me to latest pre-release branch, it is not the 'develop' branch as ChartEntry definition is missing from the source code. @NedLanon Any idea?

[2020-04-09 06:17] #176 closed

[2020-04-12 19:32] triskacik commented on #167
I'm experiencing weird behaviour because the chart is showing properly in simulator (iOS 14.0) but it doesn't show anything on my device (iOS 13.3), maybe it is the same issue. I'll try to update to 14.1 on my device and maybe it will work, I will add the result later

[2020-04-12 19:47] triskacik commented on #167
So it apparently works after the update to iOS 13.4.1.

[2020-04-15 12:01] auxua commented on #168
Yes, just use the underlying SKiaSharp.
Using chart as your normal defined chart:

[code]

[2020-04-17 07:49] jdahan91 opened #177 "Hebrew characters show as "????""
Is there no built in localization support for the charts??

Edit: OK, so observing Microcharts code I can see that the underlying of the drawing is SkiaSharp, which is based on Skia.

So the thing is, I've been reading some forums about RTL regarding SkiaSharp and there's been a merge of branches, so I think that a new version of Microcharts could be released based on updated SkiaSharp.

https://g

[2020-04-17 09:41] jdahan91 commented on #177
OK, so observing Microcharts code I can see that the underlying of the drawing is SkiaSharp, which is based on Skia.

So the thing is, I've been reading some forums about RTL regarding SkiaSharp and there's been a merge of branches, so I think that a new version of Microcharts could be released based on updated SkiaSharp.

[2020-04-22 20:04] tdbe opened #178 "Wait so no 2D XY 2-dimensional support on graphs??"
I pulled this into our project so happy that I can quickly make a pretty line chart to visualize the team's data, and there's no overload for an Entry that taxes X and Y? What? How? I am so confused as to why someone would make such a nice tool and not implement the super basic super easy super obvious support for 2D data... 90% of line charts have X and Y data. How are you just making a 2D chart

[2020-04-25 09:05] FunkyLambda opened #179 "No 'Chart' property for ChartView in XAML"
Trying to do this:
`<microcharts:ChartView Chart="{Binding BarChart}" />`

But there doesn't appear to be a `Chart` property.

XF v4.5.0.617
Microcharts.Forms v0.7.1

[2020-04-28 09:43] NdubuisiJr commented on #179
What you are looking for is something like [this!](https://github.com/NdubuisiJr/skia-chart)

[2020-04-28 09:54] NdubuisiJr commented on #178
This issue is similar to #50, #119, and #24 which was submitted years back and nothing has been done about it. I had this same issue, even worse mine was closely related to #50 . I didn't want any silly workaround so, I and my team started developing a simple library that can get the job done. You can check it out [here](https://github.com/NdubuisiJr/skia-chart) . It's called [SkiaChart](https://g

[2020-04-29 05:10] johnjore opened #180 "Labels (x-axis) / Allow more space"
I add labels to every n'th datapoint, to allow labels more space (Date & Time). Here every 8th datapoint has a label:
![Screenshot_2020-04-29-15-03-05](https://user-images.githubusercontent.com/12951842/80562372-e1d03680-8a2a-11ea-8daa-986e9cb96708.png)

Would it be possible to allow labels to expand to use more space, or not follow datapoints, but as part of a defined (fixed) x-axis?

[2020-04-29 13:17] treasure0010 commented on #120
Hi @Nixon-Joseph

This is still an issue, I've updated to the latest version, but still getting it.

[2020-05-09 18:28] Grayforever opened #181 "Microchart.Droid.ChartView not showing in Android Designer after upgrading to AndroidX"
The view does not show in the android designer and causes an invalid token error. This happened as I upgraded my project to androidx. Should this be the cause?

[2020-05-14 20:36] tpitman opened #182 "Curve Color not setting in iOS"
I have a xamarin app for mobile. I am using the `PolynomialLeastSquaresChart` class.

In that class during the DrawContent function the line color is retrieved using the following code on lines 120-122 (in the version I have):

`                    int colorValue = System.Drawing.Color.FromName(resourceRetrieval["LevelColors"][count - 1].ToString()).ToArgb();
                    string colorHex =

[2020-05-20 19:57] ramonfe commented on #118
I'm higly considering to move to Skia-chart

[2020-06-03 20:04] nebula2 commented on #136
This repo seems dead. Maybe you have more luck with this one here: https://github.com/MoneyFox/Microcharts

[2020-06-07 23:09] TopSkillDeveloper opened #183 "development stopped?"
Last update was last year

[2020-06-09 10:25] sukanzubair opened #184 "Donut chart labels not showing"
Hi,

I i create a donut chart with 2 Entry items. If the 1st item is greater than the second item the labels do not show.
I am using microcharts as a standard project, using the microcharts nuget package (tried a few versions) including the latest pre 0.8.5 and the latest stable 0.7.1.

I am generating a chart and creating an image with the following code.

`private string GenerateImage()

[2020-06-12 18:13] eduhza commented on #20
Well, in the tutorial provided on youtube (https://www.youtube.com/watch?v=tmymWdmf1y4) he installs onlu Microchart.Forms. But it gives us dependency erros that only solve when you also install Microcharts.
Microcharts must be set as dependency.

[2020-06-25 15:55] Grayforever commented on #181
Eventually, this was a whole sdk issue and not natively a bug from microcharts. Got solved in the latest update.

[2020-06-25 15:55] #181 closed

[2020-06-29 13:40] itCarl commented on #180
I have exactly the same problem.

with over 300 entries only 1 character from the label is displayed.

[2020-06-29 13:49] itCarl commented on #26
I would like to rotate the labels in my current project because I have the problem as in Issue #180.

With version 0.7.1 of Microcharts and Microcharts.Forms everything works perfectly but when I switch to version 0.8.3-pre the application crashes. Is there anything else changed since version 0.8.3-pre that I should be aware of?

Xamarin.Form (version 4.6.0)

[2020-06-29 20:19] eman1986 commented on #183
I'm curious myself, this seems to be the one chart library that looks really nice for Xamarin so I'm hoping that's not the case.

[2020-06-30 19:58] eman1986 commented on #128
while I'm busy myself, I do have access to a Mac and could be of assistance if needed. I like this library and honestly the only other one I see looks dated compared to this one so I'm vested in keeping this one alive and active.

[2020-07-01 11:47] NPadrutt commented on #128
Since there was no reacion by someone with access to the repository in quite a while I think this repository is pretty much inactive already.  So I think one would have to create a fork or copy the repository alltogether and go on from there.

[2020-07-01 14:05] eman1986 commented on #128
If that's the case, I might go and fork this repo then. I'll have to figure out a way to illistrate a difference between the two

[2020-07-01 14:21] eman1986 commented on #128
I'm also open to just being a contributor to this repo if the guys running this repo are still listening in on this ticket. I'll go through all the PRs and I could even update the README as the followthrough is sorta dated and inaccurate from what I noticed.

[2020-07-07 19:11] tsudd opened #185 "A Chart doesn't update after changing data"
Hi. Is there exist an easy way to update charts? Like after scrolling or pressing button?
I have class  with the chart as a property, then I binded it in XAML file of the page. In my program OnApearing event calls void method, which updates chart's entries with new date. After that I call OnPropertyChanged event to refresh binds. Everything is updated except chart. And only after I reboot my app t

[2020-07-16 17:35] aloisdeniel commented on #128
I will add you to the contributors!

[2020-07-16 18:20] eman1986 commented on #128
ok cool, I accepted the request. I'll go through the PRs tonight and add the fixes I did to my forked copy.

[2020-07-16 18:29] eman1986 commented on #183
the owner has given me access to the repo, so I'll be working to get the library updated.

[2020-07-16 18:29] #183 closed

[2020-07-16 22:12] eman1986 commented on #177
I'm working getting the skiasharp version updated to the latest version, stay tuned.

[2020-07-17 01:37] #178 closed

[2020-07-17 01:37] #118 closed

[2020-07-17 02:49] eman1986 commented on #128
I now have nuget access, I have been cleaning up things on the repo to try to show this library has a breath of life still. I'm working on a branch that'll have various nuget updates, and PR fixes. Once that's all done and tested, I'll push it up to nuget.

once that's up, I'll be going through the tickets and try to organize it so I know what's a current issue or outdated or duplicate.

[2020-07-17 02:54] eman1986 commented on #173
I'm currently working on a branh that'll have skiasharp updated to the very newest version so once that's up, this issue will be resolved.

[2020-07-17 03:04] #4 closed

[2020-07-17 03:07] #9 closed

[2020-07-17 03:09] #51 closed

[2020-07-17 03:14] #92 closed

[2020-07-17 03:17] #136 closed

[2020-07-17 03:18] #144 closed

[2020-07-17 03:18] #149 closed

[2020-07-17 08:34] jdahan91 commented on #177
That's great, do you have an ETA for us?

[2020-07-17 13:37] eman1986 commented on #177
I don't have an exact date but it should be fairly soon, I will keep you posted when a new version has been rolled out.

[2020-07-17 16:16] eman1986 opened #186 "0.9.0"
This is just an announcement that 0.9.0 is in the works.

Currently I've updated the nuget packages as well as the forms code which was very old as well as updated the code to use Netstandards 2.0 🥳

I just need to port over a couple PRs and do some testing and I'll have 0.9.0 pushed up on nuget.

Follow this ticket for all the updates regarding this release.

[2020-07-17 16:17] #128 closed

[2020-07-17 19:00] aloisdeniel commented on #186
Thanks a lot!

Though I'm not a user anymore, happy that the project can finally evolve!

[2020-07-17 19:22] eman1986 commented on #186
Thanks, I will try to keep things moving as best as I can.

[2020-07-20 15:10] eman1986 opened #189 "MAUI Support"
This fall, .NET 5 will be released and with it comes a new cross platform UI framework called MAUI. The main goal will be to add support for this new UI framework once it has been released.

Xamarin.Forms should still be supported until Microsoft indicates they are no longer supporting it.

[2020-07-21 01:26] eman1986 commented on #186
I'm going to aim for tomorrow for a release. The fun challenge is building everything to package up, you need a mac for the Apple stuff, and then windows for the UWP layer. I'll be pinballing between two computers to get this up.

[2020-07-21 03:40] aloisdeniel commented on #186
You can also use GitHub Actions :)

[2020-07-21 03:54] eman1986 commented on #186
I can give that a try, wasn't sure if I had that ability just being a collaborator.

[2020-07-21 03:57] eman1986 commented on #186
I found an article on it so I'll for sure give it a try, I'm open to having an automated way to create releases

[2020-07-21 18:26] tsudd commented on #185
I have faund the answer. To update a hole chart dynamically you should recreate an object of the chart, which bounds to a xaml page. Re initialization of entries not enough.

[2020-07-21 18:26] #185 closed

[2020-07-21 19:21] eman1986 commented on #186
@aloisdeniel looks like the repo owner has to add any secrets for actions and I'll need one for pushing to nuget from actions. not a major rush on this, I'm probably going to try using actions for the next release, I found some documentation on it and want to play around with it, it's neat for sure.

[2020-07-21 20:06] aloisdeniel commented on #186
I changed your rights to Admin.

[2020-07-22 02:21] eman1986 commented on #186
today was a long day so I'm going to try for to get this up tomorrow. everything is all prepped up so all the challenges are behind me :)

[2020-07-22 14:24] eman1986 commented on #186
@aloisdeniel looks like I don't have access to publish the xamarin forms version of Microcharts.

[2020-07-22 14:29] eman1986 commented on #186
In the meantime the main Microcharts library is up on nuget and available to install.

[2020-07-22 14:34] aloisdeniel commented on #186
Ah sorry, added you!

[2020-07-22 14:43] eman1986 commented on #186
Thanks, I now got the forms version up, I sorta messed it up so it's versioned 0.9.1

Hope everyone enjoys it and report any issues you find 😄

[2020-07-22 14:43] #186 closed

[2020-07-22 14:44] eman1986 commented on #177
the new version has been rolled out so give it a try and see if it solves your problem

[2020-07-22 14:46] eman1986 commented on #171
0.9.1 has been updated to support .net standards 2.0

[2020-07-22 14:46] #171 closed

[2020-07-22 14:47] eman1986 commented on #173
this should be resolved with the new release

[2020-07-22 14:47] #173 closed

[2020-07-22 14:48] eman1986 commented on #159
documentation will be coming soon.

[2020-07-22 14:48] #155 closed

[2020-07-22 14:48] #157 closed

[2020-07-22 14:50] eman1986 commented on #81
0.9.0 and 0.9.1 for forms is built off of net standards 2.0

[2020-07-22 14:50] #81 closed

[2020-07-22 14:50] #112 closed

[2020-07-22 16:50] irongut commented on #171
Why? You have just reduced the usefulness of this library.

[2020-07-22 17:44] eman1986 commented on #171
That's your opinion, .net standards 2.0 is what most people use on current projects.

[2020-07-22 19:28] jdahan91 commented on #177
Still boxes, i don't see Hebrew characters.

[2020-07-22 19:40] jdahan91 commented on #177
This has to be with the implementation of Microcharts, updating Skiasharp isn't enough. I would (and i'm sure others) appreciate if you'd support a few more languages rather just plain english. Start by adding Hebrew ;]

[2020-07-22 20:43] eman1986 commented on #177
that might be a community effort seeing that I only know English :)

[2020-07-22 20:46] eman1986 commented on #177
looks like adding ```SkiaSharp.HarfBuzz``` might be something that's needed.

[2020-07-22 20:49] #41 closed

[2020-07-22 20:52] eman1986 commented on #33
there's a PR for this that I'm going to get added to the next release, stay tuned

[2020-07-22 20:53] eman1986 commented on #162
I believe this bug was resolved with 0.9.0, please give that version a try and see if it resolves your issue.

[2020-07-23 03:27] jdahan91 commented on #177
Tell me what needs to be done and i'll do it.

[2020-07-23 03:27] jdahan91 commented on #177
Try adding it and releasing a new nuget, i'll feedback you.

[2020-07-23 15:48] eman1986 commented on #177
I'd prefer to not flood nuget, something that'd be really helpful would be if you made a sample app that has the Hebrew text in it and I can then I play with it locally on my machine. it can just be smoe random data that has Hebrew text i it and then I'll see if I get Hebrew back or garble.

[2020-07-23 16:09] jdahan91 commented on #177
Here's a translation file which contains Hebrew text, which i use in a mobile app for covid19 tracking. The only thing that is left to make my app perfect is to make Microcharts support LTR languages.

https://file.io/jjvIrc2rFkAp

[2020-07-23 16:10] jdahan91 commented on #177
I would start by adding that nugget HarfBuzz, i don't think that it is "flooding" nuget if it's something that is needed.

[2020-07-23 19:23] peedroca opened #191 "[Bug] Charts doesn't showing"
**Describe the bug**
When I update to Microcharts 0.9.0 I can't see the charts on my app.

**Which platform and version is this for?**
Android (nowadays I'm using sdk 28)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project exactly as https://github.com/dotnet-ad/Microcharts/tree/main/Sources/Microcharts.Samples.Forms/Microcharts.Samples.Forms
2. Execute it.
3. See error

**E

[2020-07-23 19:52] eman1986 commented on #177
I meant flood as in just posting a bunch of releases blindly seeing if something works.

[2020-07-23 19:53] eman1986 commented on #177
that link gave me a 404

[2020-07-23 19:54] jdahan91 commented on #177
try this

https://easyupload.io/qrvylk

[2020-07-23 19:57] eman1986 commented on #177
that worked, I'll play with it tonight and see what I can do.

[2020-07-23 19:59] jdahan91 commented on #177
Thank you so much man, you're a blessing for this project. If you manage to get RTL (especially Hebrew) you're a king ^^

[2020-07-23 20:01] eman1986 commented on #177
I like this library and want to ensure it stays alive, especially as I'm using it myself so I have a vested interest in it working.

[2020-07-23 20:03] jdahan91 commented on #177
I also love this library I must say and it's great to see another enthusiastic like you making it stay alive. I must say that there's potential to make it even better by using neon colors and making it shade a little bit "shadows" colors to give it a nice FX.

[2020-07-23 20:08] jdahan91 commented on #177
If i'll see LTR support, i'd might join in, fork and make potential pulls for more variants of charts.

[2020-07-23 20:10] eman1986 commented on #177
making the charts more customizable would be nice and I'll try to make that happen as best as  I can. I have some housekeeping things to attend to first, but once I'm worked on dusting off some things I'm going to focus on some new things.

I welcome anyone interested to help fork and make this library awesome. This library can be even nicer once it gets some love and care and a team that can keep

[2020-07-23 20:29] jdahan91 commented on #177
That's awesome, you can take ideas from uplabs for charts that could be lovely in the component.

[2020-07-23 22:03] eman1986 commented on #191
based on something that same isue with a different platform, I think skiasharp didn't get added. try installing skiasharp and see if that resolves it.

[2020-07-23 22:49] peedroca commented on #191
Yeah! It works!

[2020-07-24 02:52] eman1986 commented on #177
I started work on it, but I'll have to finish it on a different computer, apparently skiasharp and Linux are a little muddled, I get a fun .so missing error. I thankfully have the luck of also having a Windows & Mac for my day job so I'll try it on there and see if it works as expected.

[2020-07-24 04:04] eman1986 commented on #177
figured out the .so error, and it _mostly_ works :grin:

the Hebrew in coming in as Hebrew (yay) but the number values are now blocks, I'm very close to getting this working correctly.

[2020-07-24 08:37] jdahan91 commented on #177
Awesome feedback! Can't wait to test out a new version 😊

[2020-07-24 09:47] jdahan91 commented on #177
Can you share with me (or us, for others who are also interested lol) what was the issue technically?

[2020-07-24 13:46] niels-gvs opened #192 "Multiple lines in LineChart type"
Can you add multiple lines functionality for the LineChart type?

[2020-07-24 15:04] eman1986 commented on #177
it seems that skiasharp didn't have a way to handle unicode text until you use the HarfBuzz library. They'll be a new setting flag you'll need to set for it to use the HarfBuzz code. I still got more testing to do so things may change depending on what I find as I'd like this to work with as much unicode languages as possible.

[2020-07-24 15:06] jdahan91 commented on #177
Absolutely @eman1986, you take all the time you need to make it perfect. Oh man i'm so happy we have someone like you continuing working on this component since it is such a great one (open source and free for use).

[2020-07-24 15:09] eman1986 commented on #177
Thank you for those kind words :)

I'll certainly try my best to do what I can to keep this library progressing.

[2020-07-24 15:11] eman1986 commented on #192
I can look into it and see what I can do. It would be a good addition.

[2020-07-24 18:24] mfeingol opened #193 "[Bug] Regression: unhandled exception rendering charts using Xamarin Forms."
**Describe the bug**

Unhandled exception rendering charts using Xamarin Forms. This is a regression in version 0.9.0. Version 0.7.1 worked fine.

**System.ArgumentNullException:** 'Value cannot be null.
Parameter name: text'

Stack trace:

[code]

**Which platform and version is this for?**

Android

**To Reproduce**

This is a simplified version of the code I'm using to create a chart:

[code]

[2020-07-24 19:07] Magendanz commented on #191
I installed SkiaSharp, SkiaSharp.Views and SkiaSharp.Views.Forms and I'm still seeing nothing.

However, I'm MVVM and binding to the Chart property.  Maybe a separate issue?

[2020-07-24 19:09] peedroca commented on #191
I installed only SkiaSharp and SkiaSharp.Views.Forms on Xamarin.Forms project and Xamarin.Android project. It works for me.

[2020-07-24 19:24] Magendanz commented on #191
Okay, I had only added SkiaSharp to my Xamarin shared project.  Adding it to my .Android project got it working again.

[2020-07-24 20:04] eman1986 commented on #191
my apologies guys, XF didn't get a lot of testing when I was working on it, I promise to be a little more through on the next release.

[2020-07-25 02:03] eman1986 commented on #177
I figured out the issue with the numbers so now it's all working :partying_face: , I just to do some tweaking so it works for more than just hebrew.

[2020-07-25 03:36] eman1986 commented on #177
I have a PR made that I'll be pushing into develop in a moment, after that, I'll be ready to close the book on this.

[2020-07-25 03:41] eman1986 commented on #177
this is all done, I'd like to get a few more things done before I make a new release. There's an old PR I want to get in and then fix up the XF package as that didn't get much love and is a little buggy. Might fix another issue as well, depends on how easy it is.

[2020-07-25 03:43] #165 closed

[2020-07-25 03:49] #162 closed

[2020-07-25 03:50] #172 closed

[2020-07-25 03:54] #72 closed

[2020-07-25 11:13] jdahan91 commented on #177
@eman1986, I salute you for all what you're doing to this library, well job my friend, you deserve all best.

[2020-07-25 11:57] famastefano opened #195 "[Question] Combining charts or adding additional drawings on top of a chart"
Hello, I need charts for my Xamarin.Forms app and I was considering Microcharts.

Honestly I thought about creating my own chart library on top of SkiSharp, but that's what Microcharts did!

So, is it possible to draw additional drawings on top of a chart?

Personally I would love to:

- Combine multiple charts together, like a LineChart with a BarChart etc.
- Change the colors of BarChart's bars

[2020-07-25 13:20] jdahan91 opened #196 "[Question] How can I do a chart like this?"
Hi, how can I do a chart like this?

![image](https://user-images.githubusercontent.com/21217427/88457919-afe83800-ce92-11ea-9391-ce1e30b99fac.png)

[2020-07-25 17:04] eman1986 commented on #195
Hi and welcome. You can't currently mix charts or set threshold colors (though that sounds nest). PRs are welcomed if you'd like to take a crack at it.

[2020-07-25 17:07] eman1986 commented on #196
I'd assume it's just the line chart.

[2020-07-25 17:12] jdahan91 commented on #196
But how would i get it to look like that? It's funny that there's samples of charts but not description how to implement them.

[2020-07-25 17:19] eman1986 commented on #196
I'm planning on working on better documentation for the library, think someone was working on it but never really finished it. I'm also going to be working on improving the sample apps.

[2020-07-25 17:56] jdahan91 commented on #196
That would be great.

[2020-07-25 17:57] jdahan91 commented on #196
Release a hotfix for unicode so i can consume it on my app, which only lacks this feature lol.

[2020-07-25 19:55] famastefano commented on #195
Well I'll use Microcharts for my app.

Might consider a PR if I have enough time and after a lot of study on this library.

Anyway, closing the issue as it has been answered.

Thanks 🙂👍🏻

[2020-07-25 19:55] #195 closed

[2020-07-26 04:01] #159 closed

[2020-07-26 04:01] #101 closed

[2020-07-26 04:52] mytahir commented on #196
Include a Sample using sql-net pcl, because I always think how to populate my data from the sql, any help?

[2020-07-26 11:32] CDrosos commented on #159
Piechart and pointchart are the same in documentation, they both show piechart

[2020-07-26 14:36] eman1986 commented on #196
I never call SQL directly in my app, I always use an API.

[2020-07-26 17:11] #134 closed

[2020-07-26 17:12] eman1986 commented on #159
whoops, I fixed that, thanks for the heads up.

[2020-07-26 19:48] jdahan91 commented on #196
@eman1986, release a small build just for the sake of the unicode fix -.-", i want to update my app lol.

[2020-07-26 19:50] eman1986 commented on #196
I'll try to do that Monday, currently it takes a bit of work until I can work on automating it.

[2020-07-26 19:51] jdahan91 commented on #196
Thanks!

[2020-07-27 00:36] eman1986 opened #198 "0.9.5"
0.9.5 will hopefully be the last release before I work on version 1.0

0.9.5 adds Unicode support and fixed up xamarin.forms support.

I'm looking to get this up sometime tomorrow.

[2020-07-27 01:35] #198 closed

[2020-07-27 01:35] eman1986 commented on #198
I decided to just get it done tonight, enjoy everyone

[2020-07-27 01:35] #196 closed

[2020-07-27 01:37] eman1986 commented on #193
I just pushed out a new version, give that one a try and see if it resolves this issue.

[2020-07-27 01:37] #191 closed

[2020-07-27 01:39] #179 closed

[2020-07-27 01:40] eman1986 commented on #166
this is now possible

[2020-07-27 01:40] #166 closed

[2020-07-27 02:33] #78 closed

[2020-07-27 02:35] #74 closed

[2020-07-27 02:36] #43 closed

[2020-07-27 02:37] #64 closed

[2020-07-27 02:38] #65 closed

[2020-07-27 02:38] #111 closed

[2020-07-27 02:39] #106 closed

[2020-07-27 02:41] eman1986 commented on #99
that is not possible with this library at this time.

[2020-07-27 02:41] #99 closed

[2020-07-27 02:42] #89 closed

[2020-07-27 02:43] #105 closed

[2020-07-27 03:29] mfeingol commented on #193
I tried 0.9.5 and I'm seeing the same problem:

[code]

[2020-07-27 03:33] eman1986 commented on #193
It might help to have a poc project made so I can investigate it better because the sample app works and that's what I have to test against.

[2020-07-27 08:26] niels-gvs commented on #192
@eman1986 Thanks.

[2020-07-27 15:07] jdahan91 commented on #196
@eman1986 it's monday ;]

[2020-07-27 15:09] eman1986 commented on #196
I actually decided to do it last night so it's available anytime

[2020-07-27 15:45] jdahan91 commented on #177
@eman1986 i installed the latest nuget of microcharts 0.9.5 and Hebrew still doesn't display

https://ibb.co/vQg2nnG

[2020-07-27 15:51] eman1986 commented on #177
Did you set the two new flags?

[2020-07-27 15:54] mfeingol commented on #193
Here's a repro project:

https://github.com/mfeingol/repros/tree/master/MicroChartsCrash

[2020-07-27 15:56] eman1986 commented on #177
I have to update the wiki page to reflect that, I'm going to do it tonight

[2020-07-27 16:03] jdahan91 commented on #177
@eman1986 ok, so after setting those two flags, there's a problem rendering numbers lol.

https://ibb.co/jwQzzCd

[2020-07-27 16:09] eman1986 commented on #177
Thought I fixed that issue

[2020-07-27 16:10] eman1986 commented on #177
Oh, I didn't take into consideration a label would also have numbers. 😒 I'll have to think on how to resolve this.

[2020-07-27 16:14] jdahan91 commented on #177
lol for sure ^^

[2020-07-27 16:33] jdahan91 commented on #177
Make the unicode a built in support because i need it to function on two languages in two cases.

[2020-07-27 20:42] Gillibald commented on #177
I suggest using https://github.com/toptensoftware/RichTextKit to do your text layout. It should fulfill all your needs and you no longer have to worry about text rendering.

[2020-07-27 20:46] eman1986 commented on #177
Very nice, I'll have to check this out for sure.

[2020-07-28 01:48] eman1986 commented on #177
I found another library that has Xamarin support, that one is nice but it seems like Xamarin may not work which is a huge deal breaker for this library.

[2020-07-29 09:29] jdahan91 commented on #177
@eman1986 any updates?

[2020-07-29 13:31] eman1986 commented on #177
It's still a work in progress.

[2020-07-29 19:12] slavko-m opened #200 "[Bug]Charts not shown with version 0.9.5"
**Describe the bug**
I updated Microcharts and Microcharts.Forms to newest version.
The only change from previously working code when I used version 0.7.1 was changing Microcharts.Entry to Microcharts.ChartEntry.
Now when I start my app, the chart is not shown. I tried with LineChart and BarChart. Is there anything else that needs to be changed in the code?.

**Which platform and version is this f

[2020-07-29 21:56] eman1986 commented on #200
Try installing SkiaSharp, that should fix it. I thought I fixed the dependency issue but it looks like it's still an issue.

[2020-07-29 22:20] slavko-m commented on #200
Yes, installing SkiaSharp in Android Project fixed the issue. Thank you.

[2020-07-29 22:20] #200 closed

[2020-07-30 01:25] eman1986 commented on #177
I found success with a library, I'm kinda got it shoehorned in but I'd like to fix it so it totally replaces the way labels are added as this new library I got recommended open things up in turn of what type of customization can be done.

Let me polish a few things up and I'll get this up on nuget.

[2020-07-30 03:44] #97 closed

[2020-07-30 05:52] jdahan91 commented on #177
Sure thing, great job eman.

[2020-07-30 07:26] niels-gvs commented on #192
@eman1986 Do you have any idea when you could have implemented this? Thanks in advance.

[2020-07-30 12:57] eman1986 commented on #192
I don't honestly have a estimate for this, it's going to be a fairly big change. If someone in the community wants to try to tackle it, it'll be greatly appreciated.

[2020-07-30 13:00] niels-gvs commented on #192
@eman1986 Understandable. I will try to produce something :-)

[2020-07-31 12:05] jdahan91 commented on #177
@eman1986 Can we schedule a zoom meeting? I have some questions.

[2020-08-02 11:28] jdahan91 commented on #177
@eman1986 Any ETA?

[2020-08-03 00:46] eman1986 commented on #177
I'm going to work on getting a release up tomorrow sometime

[2020-08-03 22:31] eman1986 commented on #177
it's up on nuget anytime you want to try it out

[2020-08-03 22:37] eman1986 commented on #177
you'll want to use the set ```TextDirection``` to ```TextDirection.RTL``` to get the effect you want. the other two flags are gone as the new library made them obsolete.

[2020-08-04 07:17] jdahan91 commented on #177
Updated to the latest nuget now i'm getting these

![image](https://user-images.githubusercontent.com/21217427/89264510-b7020980-d63b-11ea-8254-dc91eb9aabb6.png)

[2020-08-04 07:26] xeckuc opened #202 "[Question] Upgrading from 0.7.1 to 0.9.5.1 error: "Property not found" for ChartView in xaml"
The issue began after updating the library from 0.7.1,

Error XLS0413: The property 'WidthRequest' was not found in type 'ChartView'

same error for all 4 properties in the code below.

what changed?

[code]

[2020-08-04 07:42] #202 closed

[2020-08-04 07:43] xeckuc commented on #202
Was missing SkiaSharp reference in Forms.

[2020-08-04 08:07] SonnyRR commented on #48
Any update on this feature ?

[2020-08-04 13:00] transis2 opened #203 "IsVisible is gone"
It's proposital or mistake that IsVisible has gone ?

How we can hide the chart control(v.0.9.5.1) ?

[2020-08-04 13:41] eman1986 commented on #48
If someone in the community wants to implement it, I'll appreciate the help.

[2020-08-04 13:48] eman1986 commented on #177
Let me try it again, might have been a bad build.

[2020-08-04 14:22] jdahan91 commented on #177
@eman1986 did you release a new nuget?

[2020-08-04 15:11] eman1986 commented on #177
I'm going to have to do it tonight, looks like I took out a dependency that was needed (whoops)

for now if you install ```SkiaSharp.Views.Forms``` that should right that ship

[2020-08-04 15:55] jdahan91 commented on #177
@eman1986 going to wait for a release, hope it'll be in a few hours before i go to sleep as i want to release a new apk.

[2020-08-04 22:15] eman1986 commented on #177
I pushed a new version up for the xamarin.forms package, that should work as expected now.

[2020-08-04 22:16] eman1986 commented on #203
I can check, I don't recall that being removed from the codebase.

[2020-08-05 03:12] #33 closed

[2020-08-05 03:14] eman1986 commented on #193
I've been busy with a few fires, I should be able to look into this pretty soon.

[2020-08-05 03:28] eman1986 commented on #203
I looked at the code and I guess I don't know where that'd even be or removed.

technically you can hide the charts by just hiding the view.

for example on android you can do

[code]

or on iOS

[code]

hopefully that helped you.

[2020-08-05 03:30] #182 closed

[2020-08-05 03:32] #163 closed

[2020-08-05 03:32] #123 closed

[2020-08-05 03:33] eman1986 commented on #123
this was an issue with the library not handling unicode but that is now resolved.

[2020-08-05 03:34] eman1986 commented on #154
currently no, might be a big change to add.

[2020-08-05 03:35] #120 closed

[2020-08-05 03:36] eman1986 commented on #120
this is all good now

[2020-08-05 03:37] #55 closed

[2020-08-05 03:37] eman1986 commented on #55
this issue has been resolved

[2020-08-05 03:38] eman1986 commented on #103
there's currently no way to highlight an entry.

[2020-08-05 03:51] jdahan91 commented on #177
Ok, now there's new surprises. The text is colored black and it is being rendered incorrectly. The number instead of being on the left it's on the right.

it's like 28 July instead of July 28 for Hebrew of course.

[2020-08-05 04:07] eman1986 commented on #177
that's interesting, it might be a fun bug with the library I'm using. you can set it to auto and it might work better. regarding the color, looks like I missed a spot that was supposed to have the color set. It's a quick fix, I'll patch that up and get a fix up in the morning.

[2020-08-05 04:10] jdahan91 commented on #177
Just so you'd know i keep delaying a release for my app every bug we encounter

[2020-08-05 04:17] eman1986 commented on #177
I'm sorry, I'm doing this on my free time and can do only so much by myself. pushing up a release is a tad tedious so it's not something I can just do in a snap of the finger, at least not right now. I'll get a fix up for the color in the morning and that's the best I'll be able to do.

[2020-08-05 04:19] Gillibald commented on #177
You have to add the date as left to right. That's an error on your side.

[2020-08-05 08:53] jdahan91 commented on #177
I switched the position between the MMM and dd and it renders fine, but there's no space between them.

[2020-08-05 12:27] transis2 commented on #203
Hi @eman1986 ,

Thanks for the answer, but I use this control in xamarin forms. So, to hide this control I will need to create an Interface to each plataform and so on...

There's some plan to include back IsVisible property ?

[2020-08-05 13:52] eman1986 commented on #177
I pushed up the fix for the label color issue, this should be all good to go now.

[2020-08-05 14:02] eman1986 commented on #203
so IsVisible is actually Xamarin.forms own thing and I can confirm it's showing up in the sample code so it not's not part of the library and not actually broken. there's a new version I pushed up today that should help.

[2020-08-05 14:02] #203 closed

[2020-08-05 15:53] ScarfaceNo1 commented on #48
Yes, I implemented it.
But I was unable to upload.

If anyone would do that, iwould sent the code to him by mail or anything else.

[2020-08-05 15:55] SonnyRR commented on #48
I could create a PR from your name if the implementation works. Send me an email to: edcwq@abv.bg

[2020-08-05 17:50] #177 closed

[2020-08-05 17:52] eman1986 commented on #48
If you fork this repo you can make a pull request.

[2020-08-05 20:01] mfeingol commented on #193
It appears to be fixed in `0.9.5.5`. But you might want to double-check me on that.

[2020-08-06 09:13] jdahan91 commented on #177
Brah... i updated to 0.9.5.5 and it's still black labels ;s

[2020-08-06 13:45] eman1986 commented on #177
I don't know how that can be, I have it setup all correctly. This is why you don't rush things.

[2020-08-06 14:04] jdahan91 commented on #177
Are you testing the library on your side with a xamarin project? Maybe after i updated it conflicted with older binaries im not sure but ill try to uninstall and reinstall

[2020-08-06 14:08] eman1986 commented on #177
I am, I always text it on a xamarin project. I use the sample apps to test on

[2020-08-06 15:39] jdahan91 commented on #177
I can confirm on my side that the labels are still black.

[2020-08-06 16:51] eman1986 commented on #177
I can confirm based on the my own app that is the case, I'll dig into this tonight and see why this is happening, because I'm simply puzzled it.

[2020-08-07 02:11] eman1986 commented on #177
I figured it out finally, here is proof of it working now. seems like the library might have a bug that I plan to follow up on but I got it working correctly now. I'll get this fix up tomorrow morning.

![Screenshot_1596765827](https://user-images.githubusercontent.com/2343334/89600790-d9a94380-d830-11ea-9a5f-457378a9c4db.png)

[2020-08-07 07:26] ScarfaceNo1 commented on #48
Hello SonnyRR.
You should have Mail...

[2020-08-07 11:26] jdahan91 commented on #177
Do you think you can fix the bug with spaces between the text and number? look how crowded they are.

[2020-08-07 13:53] eman1986 commented on #177
I'll see if I can fix that too

[2020-08-07 14:05] jdahan91 commented on #177
@eman1986 I want to tell you that you're doing a fantastic job on improving this library, in the end I've migrated to Telerik UI for Xamarin for the part in the app where I'm rendering the graph history according to the requirement of the ui screen I am implementing. Thank you so much for all the work you've put into this amazing library.

[2020-08-07 16:18] SonnyRR commented on #48
@ScarfaceNo1 I will take a look at it during the weekend.

[2020-08-07 17:39] irongut opened #206 "Microcharts v0.9.5.5 update breaks Chart labels"
**Describe the bug**

Microcharts v0.9.5.5 update breaks chart labels - the labels ignore size and colour properties. No code was changed, only Microcharts updated in the examples.

Microcharts v0.9.5 Example:
![image](https://user-images.githubusercontent.com/27953302/89667782-9ef8e700-d8d4-11ea-960c-b4115ff53124.png)

Microcharts v0.9.5.5 Example:
![image](https://user-images.githubusercontent.c

[2020-08-07 17:45] eman1986 commented on #206
This bug has been reported and a fix should be out later today.

[2020-08-08 18:55] irongut opened #207 "[Question] Xamarin Forms compatibility"
A recent Microcharts update upped the Xamarin Forms version requirement to the latest service release of Xamarin Forms 4.7. This prevents it being used in any project that, for whatever reason, cannot use the abolute latest version of Xamarin Forms 4.7.

Will compatibility with the bleeding edge of Xamarin be required for this library going forward? Updating Xamrin Forms is often not a simple pros

[2020-08-08 19:36] eman1986 commented on #207
Generally yes, the goal is to keep required nuget packages as current as possible. It's always good practice to stay current with the newest version

[2020-08-09 00:06] eman1986 commented on #207
Xamarin.Forms won't be getting updated too often, in this case I did it because it was at a really old version and I wanted to bump it up to a more current version.

[2020-08-09 18:34] eman1986 commented on #207
I will be mindful of new XF releases, I'll try to wait about 6-12 months before I make a big version change to XF in the future.

[2020-08-09 18:34] #207 closed

[2020-08-09 18:43] eman1986 opened #208 "Breaking Changes for 1.0"
I'm working on a version 1 release, while it will feature a couple new things, it'll mostly be code clean-up.

Something most importantly I wanted to mention is a small change to the nuget package setup. Currently there's two packages; one for forms and one for everything else.

As of version 1.0, I'm planning on making it a per platform setup (Microcharts.Android, Microcharts.iOS, etc) this will

[2020-08-09 19:02] eman1986 opened #209 "Please Read First"
First and foremost thank you for your interest in Microcharts. We have a few simple rules/considerations I'd like you to consider when interacting on the issue tracker.

Before you make a ticket, please search for existing issues first and post on that one, that better help me know something is wrong for more than one person and I can easily tag that one issue on fixes. I'll close tickets that dup

[2020-08-09 19:10] eman1986 commented on #206
I had one more issue to fix so I'm looking at either today or tomorrow now.

[2020-08-09 19:15] SonnyRR commented on #48
@ScarfaceNo1 it seems to me that this is an old version of "Microcharts" that you've extended. Also the repository you've sent me seems to be broken as I cant see the git log. I will try to port your solution to a more recent commit of this repo when I have time..

[2020-08-10 19:57] slavko-m opened #210 "[Question] Is it possible to change the color of the value label in v0.9.5?"
According to some previous issues, I see that there was a ValueColor property of Entry, but now there is no such a property. There is a TextColor property , but it doesn't change the color of the value label - color of the label is always the same as the Color property of the ChartEntry.

[2020-08-10 20:04] eman1986 commented on #210
The object got redone and that property got renamed to just Color. Not sure why that was renamed as I agree it's a little confusing.

[2020-08-10 20:10] slavko-m commented on #210
So it is not possible to have different color for value text and bar color (in a BarChart for example)? Color property will set both bar and text of the value to the same color.

[2020-08-10 20:43] eman1986 commented on #210
No not currently. It makes sense they should match so you know what lines up to what

[2020-08-10 20:53] slavko-m commented on #210
OK, thanks for the info. It would be good to have that, because sometimes even if the color of the bar is visible, the text itself is not, like in the following example (green color). If I change the background to white, then the yellow text is not clearly visible. So, putting the text color in, for example, white, will be much better in this case.
![Screenshot_20200810-224621](https://user-images

[2020-08-10 20:53] #210 closed

[2020-08-10 21:21] eman1986 commented on #210
I'm open to changing it so you can do that.

[2020-08-11 10:04] Knots23 commented on #121
@Nixon-Joseph
It's been a while since this issue was created, but allow me to continue:

**Screenshot:** (UWP)
![image](https://user-images.githubusercontent.com/23098180/89882643-66ecef00-dbc7-11ea-93ae-fc10bb9835ae.png)

**Sample code:**
The chart is 600 x 600.
[code]

**Info:**
- Platform: UWP, Android. (Could not test iOS.)
- Microcharts / Microcharts.Forms 0.9.5.7
- Xamarin Form 4.8.0.1269

[2020-08-11 13:39] eman1986 commented on #121
I can confirm this is happening, I just haven't had time to investigate it. I will try to take a look tonight.

[2020-08-14 18:39] davefxy opened #211 "I would like to stack 2 line charts that share the same footer. Can I do this? e.g. disable footer on top line chart?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-14 19:22] eman1986 commented on #211
No stacked charts are currently not possible.

[2020-08-14 20:58] davefxy commented on #211
In the earlier version of Microcharts, I modified the LineChart.cs file with following 2 changes to enable no footer:
        public override void DrawContent(SKCanvas canvas, int width, int height)
        {
            var valueLabelSizes = MeasureValueLabels();
            var footerHeight = CalculateFooterHeight(valueLabelSizes);
            if (!Showfooter)
                footerHeight = 0;

[2020-08-14 22:35] eman1986 commented on #211
I can take a look at this and see if I can add it to the codebase :)

[2020-08-16 03:55] mfeingol commented on #206
I'm seeing something similar. The labels just disappear:

0.71:

![0 7 1](https://user-images.githubusercontent.com/218865/90326134-98541a80-df39-11ea-89e1-936844a7e871.png)

0.9.5.5:

![0 9 5 5](https://user-images.githubusercontent.com/218865/90326137-9ee29200-df39-11ea-87a3-59d56fe4fbd4.png)

[2020-08-16 04:13] eman1986 commented on #206
version 0.9.5.7 fixed this issue

[2020-08-16 04:14] eman1986 commented on #206
sorry didn't see you had 0.9.5.7, the truncated thing is interesting, I haven't noticed that.

[2020-08-16 04:15] eman1986 commented on #206
could you make a separate issue for that please? this main issue is resolved.

[2020-08-16 04:15] #206 closed

[2020-08-16 04:18] mfeingol commented on #206
Will do.

[2020-08-16 04:20] mfeingol opened #212 "[Bug] Microcharts 0.9.5.7 truncates labels"
**Describe the bug**
Microcharts 0.9.5.7 truncates label text. This is a regression from 0.7.1.

**Which platform and version is this for?**
example: Xamarin Forms on Android

**To Reproduce**
1. Assign labels to certain entries.
2. Observe truncation

**Expected behavior**
Labels should not be truncated

**Screenshots**

0.7.1:
![0 7 1](https://user-images.githubusercontent.com/218865/90326429-0d

[2020-08-17 13:21] davefxy opened #213 "How do I set the footer label color? TextColor doesn't seem to be used."

[2020-08-17 19:06] mfeingol commented on #206
In case anyone's interested, I filed https://github.com/dotnet-ad/Microcharts/issues/212

[2020-08-19 06:43] sukanzubair opened #214 "LineChart not aligned - Data and Axis[Bug]"
**Describe the bug**
Versions 0.9.5.1 and upwards, whenever i render a line chart the axis and data points are not aligned/

**Which platform and version is this for?**
example: .net core 3.1

**Screenshots**
![0 9 5 1](https://user-images.githubusercontent.com/38372897/90600988-c2d2fb80-e1f7-11ea-8b10-6bd1ef348b30.png)
Seems like the axis is left aligned and not centred

Using version 0.9.5
![ima

[2020-08-19 19:07] davefxy commented on #213
Figured it out. Set LabelColor in Chart definition.

[2020-08-19 19:22] #213 closed

[2020-08-20 09:29] MuleaneEve commented on #189
Note that [XXamarin.Forms 5.0 is due out at the end of September 2020](https://github.com/xamarin/Xamarin.Forms/wiki/Feature-Roadmap).
[MAUI's GA is for November 2021 with .NET 6](https://github.com/dotnet/maui/wiki/Roadmap). Although, there will be a very early preview at the end of this year.

[2020-08-20 12:15] eman1986 commented on #189
Thought I read it was coming with .net 5, either way it'd be nice to support.

[2020-08-20 19:42] NPadrutt commented on #212
I think I have a similar issue
![image](https://user-images.githubusercontent.com/1764367/90817414-13e50b80-e32e-11ea-96f1-71875fdd22a8.png)

[2020-08-20 22:34] Magendanz opened #215 "[Bug] DllNotFoundException (libHarfBuzzSharp.so) in Xamarin.Forms with v0.9.5.7"
On Xamarin.Forms builds, simply adding the NuGet package to the project's shared class library still results in blank charts.  However, now after manually adding SkiaSharp to the Android project we get a DllNotFoundException when the ChartView is loaded.  It's complaining that it can't find **libHarfBuzzSharp.so**.

**Which platform and version is this for?**
Android 9.0 with v0.9.5.7 of the Micro

[2020-08-20 22:44] eman1986 commented on #212
I'm aware of the pie chart issue, just haven't had time to look into it.

[2020-08-20 22:47] eman1986 commented on #215
Try installing harfbuzzsharp, I'm not sure why it wouldn't pull those in as it should now.

[2020-08-20 22:57] Magendanz commented on #215
Okay, adding the HarfBuzzSharp NuGet package to the Android project fixes it.  However, adding it to the shared class library makes no difference.

I think the underlying issue is that we're adding the MicroCharts NuGet package to the shared class library, since that's where it's used.  However, some of the dependencies also need to be loaded into the Android project.  It's not clear to me why, bu

[2020-08-20 23:09] eman1986 commented on #215
I'll investigate why it's not marked as a dependency for it as it should be.

[2020-08-21 01:14] eman1986 commented on #212
@mfeingol can you give me an example of your chart config?

[2020-08-21 01:26] mfeingol commented on #212
Something along these lines:

[code]

[2020-08-21 08:09] ScarfaceNo1 commented on #48
Ok. The Version I extended is dated by June 2019. Since then I used the Package. But I was unable to upload. Anyone else who wants to try to port my code to a new Version and upload it here?

[2020-08-24 03:20] rpascalegh opened #216 "Labels shifted and overlapping with update 9.5.7"
**Describe the bug**
Update micro charts for Xamarin Forms from 9.5.5 to 9.5.7
Update micro charts forms for Xamarin Forms from 9.5.5 to 9.5.7
All labels on in bar graph shifted to far left.  All labels in charts are overlapping and not aligned
Prior
**Which platform and version is this for?**
Xamarin Forms 4.8.0.1269  Android/IOS cross platform
Happens on both devices

![mcharts](https://user-ima

[2020-08-24 20:48] HenryLeC commented on #216
I am having the same issue on the same new version.
Old:
![StuDashboardWin10](https://user-images.githubusercontent.com/32208783/91094937-81908080-e629-11ea-8c58-86a833f399a5.PNG)
New:
![Screenshot_1598302034](https://user-images.githubusercontent.com/32208783/91094967-8e14d900-e629-11ea-88bc-db83e02eb121.png)

(I know the old is win10 and the new is android, I just dont have an old android photo)

[2020-08-25 00:42] eman1986 commented on #212
I'm hoping to be able to look into this soon, I've been busy so I haven't been able to look at this yet.

[2020-08-25 01:19] Magendanz commented on #216
Yes, I'm seeing this too.  I actually had to roll back to v0.9.5 to get the labels to look right again.

[2020-08-25 01:21] Magendanz commented on #212
Rolling back to v0.9.5 fixed this for me.

[2020-08-25 01:21] HenryLeC commented on #216
I rolled back to v9.5 instead of v9.5.5 because that was what I was using previously and it worked fine.

[2020-08-25 03:56] Swdvader commented on #216
Yes, we have everyone using the older version that works fine.  This new version is only in my UAT testing environment and didn't pass testing because of this issue.  Hopefully this will be corrected soon.

[2020-08-25 04:01] eman1986 commented on #216
I'm assuming it has to do with the new way the labels are being made, it got rushed through too quickly due to a user's insistence of it being in the release. I'll have to figure out how to fix this bug.

[2020-08-25 04:37] Swdvader commented on #216
Appreciate it, this is an awesome package.  It happens.

[2020-09-01 15:13] wolf81 opened #217 "[Bug] Enable device-specific builds must be disabled for charts to render on iOS Simulator and Device"
**Describe the bug**
I can't get the charts to render properly (just white) unless I disable "device-specific builds" for all configurations (iPhone & iPhoneSimulator, Debug & Release).

**Which platform and version is this for?**
I believe all iOS platforms, but I've seen the issue in iOS 13.5 and 12.2 on devices and simulators

**To Reproduce**
Create a project, add all dependencies, create a ve

[2020-09-01 15:17] wolf81 commented on #167
@hunterbrodie @triskacik @yesmeco @sethom

I believe the issues you guys are experiencing are likely linked to the "device specific builds" setting, see my bug report here: https://github.com/dotnet-ad/Microcharts/issues/217

[2020-09-01 15:24] eman1986 commented on #217
Yes that's going to be bad, I'll make that change.

[2020-09-09 03:35] eman1986 commented on #216
Just wanted to give you guys an update, I'm starting to free up a little bit so I'm looking to get back into looking at this, I'll see if I can keep the new label setup but worst case I might have to undo it until things are calmer and the library is in a better spot :)

[2020-09-09 21:23] rpascalegh commented on #216
I had to roll back to last version.  Once its corrected, I retest it.  Thanks for the update

[2020-09-14 01:25] eman1986 commented on #216
seeing that this is a duplicate of #212 I'm going to keep things posted there but this post has things that will be helpful.

[2020-09-14 01:25] #216 closed

[2020-09-14 08:34] xeckuc opened #218 "[Bug]Microcharts.Forms 0.9.5.7 - Chart is not visible after updating from 0.7.1"
**Describe the bug**
Updated from version 0.7.3 to 0.9.5.7
Chart is not visible after loading the entries.
Before update everything worked. When debugging, the entries are filled with information correctly.

**Which platform and version is this for?**
Xamarin.Forms MVVM
iOS/Android

**To Reproduce**

This is my XAML (partial)
`
xmlns:microcharts="clr-namespace:Microcharts.Forms;assembly=Microchart

[2020-09-14 09:26] xeckuc commented on #218
Found out that i was missing the package installations in the platform specific projects.
Maybe its just me, but i think that it should be noted in the "how to use" section :)

[2020-09-14 09:26] #218 closed

[2020-09-14 20:46] Deba22 commented on #121
Im also facing this issue in android. Has this been fixed? Please let us know.

[2020-09-14 20:52] eman1986 commented on #121
No it has not, it's still under investigation

[2020-09-15 03:53] eman1986 commented on #121
I do appreciate community help as I'm mostly running this on my own so if someone wish to make a PR, I'll for sure take a peak :)

[2020-09-20 03:22] eman1986 commented on #212
I'm going to revert the label change I made as I think I need to better think it out, I took a quick look and I think just for the sake of having a stable release I'm backing up on the unicode support for now, but it will return when it can be done correctly and not rushed out.

[2020-09-21 01:36] eman1986 commented on #212
I've reverted the Unicode changes, I'm doing some more testing and then I should have something out soon. THe Unicode support will come back at a later date when it has time to get done properly.

[2020-09-25 00:48] eman1986 commented on #212
my testing is looking good, I'll try to get something pushed up tomorrow possibly.

[2020-09-27 12:05] AbdelrhmanHamedTawfik commented on #212
still facing this issue with the labels being cut and the overlapping labels with legends

![image](https://user-images.githubusercontent.com/57391155/94364555-76b68900-00ca-11eb-911e-f5e5d5589a5b.png)
![image](https://user-images.githubusercontent.com/57391155/94364567-8504a500-00ca-11eb-9acc-24a96d041d4b.png)

[2020-09-27 15:34] eman1986 commented on #212
I haven't pushed up a fix yet, I'll try to get to it today, it's kinda of a hassle until I can automate it.

[2020-09-28 01:56] eman1986 commented on #212
I've pushed up anew version that should fix the issue, go ahead and get the new version and let me know if it resolves the label bug.

[2020-09-28 01:57] eman1986 commented on #215
going to close this for now as I took it out of the library for now until I can get it working correctly

[2020-09-28 01:57] #215 closed

[2020-09-28 07:38] AbdelrhmanHamedTawfik commented on #212
hello @eman1986 thanks for your quick response , much appreciated . The labels positioning is now correct but an old bug came back for the Arabic characters as they appear as squares , can be found in #55

[2020-09-28 13:51] eman1986 commented on #212
Yes I'm aware of that, I undid the unicode feature because that was the bug. I'm planning on bringing it back once I can do it right and not rush it like I had to earlier.

[2020-09-28 13:51] #212 closed

[2020-09-28 20:42] mfeingol commented on #193
Updated to 0.9.5.8 and I'm seeing this problem again. :-(

[2020-09-28 21:04] mfeingol commented on #212
Thanks, @eman1986!

Unfortunately I'm unable to verify the fix because I'm blocked by https://github.com/dotnet-ad/Microcharts/issues/193, which appears to have reappeared in this release.

Is there any chance that issue could be investigated?

Thanks again.

[2020-09-28 22:37] eman1986 commented on #212
Very strange, yes I'll take a look.

[2020-09-29 07:21] mina5500 commented on #55
@eman1986  the issue is back again after last update.... thanks to fix :)

[2020-09-29 07:21] AbdelrhmanHamedTawfik commented on #55
issue still present in 9.5.8 version after fixing the legends labels positioning

[2020-09-29 13:27] eman1986 commented on #55
Sadly I had to revert this fix as it caused another issue due to it being rushed through. It will come back after I can get it to work correctly.

[2020-09-29 13:29] mina5500 commented on #55
ok thanks... waiting for your fix :)

[2020-10-13 05:39] petro2050 commented on #210
@eman1986 any update? I have the same issue. I need to show a yellow bar on a white background, but yellow text is not visible, so I'd like to use a different text color. The tight coupling between text color and bar color should be removed.

[2020-10-13 13:40] eman1986 commented on #210
I haven't gotten to this yet, I do accept pull requests if someone wanted to work on this.

[2020-10-13 15:32] petro2050 commented on #210
@eman1986 submitted a PR. If it looks good, I'd love to see a new Nuget soon as this is a roadblock for me.

[2020-10-14 01:52] eman1986 commented on #210
I pushed it in, I'll work on getting a nuget version up soon

[2020-10-15 12:48] saimmm opened #221 "Unable to load shared library 'libHarfBuzzSharp' or one of its dependencies"
I am using Aspcore(dotnet core) under Ubuntu 18, i try to render images adding right-to-left text, for that purpose, i am using SkiaSharp, and HarfBuzzSharp, when the exception is raised mentioned in the title, i try to expect the missing shared libraries, in the /lib, i found that the library exist, but when run ldd /lib/libHarfBuzzSharp.so, the response is 'not a dynamic executable', when i run

[2020-10-17 02:29] eman1986 commented on #210
I'm going to try getting this published this weekend, last couple days got away from me.

[2020-10-19 00:36] eman1986 commented on #210
@petro2050 I have pushed up a new version with your PR changes.

[2020-10-19 01:24] petro2050 commented on #210
@eman1986 Thanks. Just pulled in the update and it's looking good.

[2020-10-19 19:14] Quax82 commented on #208
Does that mean that the forms package will be removed?

[2020-10-21 19:13] mfeingol commented on #193
This is still an issue with 0.9.5.9.

Can you please reopen this issue?

Thanks.

[2020-10-22 01:21] petro2050 commented on #76
Any update on this?

[2020-10-22 01:25] eman1986 commented on #76
There's no bandwidth for me to get to it, I always welcome pull requests if someone wants to work on it.

[2020-10-22 12:53] cincoutprabu opened #222 "Properties to control axes' labels and lines and Bar width?"
**Is your feature request related to a problem? Please describe.**
It's surprising to see there is no  option to display y-axis labels and lines on a bar chart. Also, there's no way to control bar width (the currently available Margin property is applying the margin on both horizontal and vertical directions which is strange and not sure how useful it'll be for anyone).

**Describe the solution yo

[2020-10-25 12:52] mina5500 commented on #172
please re-open the issue as the changes were reverted

[2020-10-26 00:43] Magendanz opened #223 "[Bug] Legend colors are all black in v0.9.5.9 release"
Legend colors are all black in v0.9.5.9 release.

**Which platform and version is this for?**
Android 9.0 and iOS 14.0 tested

**To Reproduce**
Steps to reproduce the behavior:
1. Create a chart with a legend
2. Examine the color in the box

**Expected behavior**
Should have colors to match the respective regions in the chart, but they're all black

[2020-10-27 01:01] eman1986 opened #224 "[Feature] Unicode Support"
This was removed a few versions ago due to bugs, this will be slated to come back with better testing and implementation.

[2020-10-27 01:02] eman1986 commented on #172
made a ticket for this #224

[2020-10-27 07:00] msmrnvv commented on #212
Hi!
Problem with truncates label text of LineChart label still exists. Could you have any advice?

[2020-10-27 07:19] msmrnvv commented on #193
Hi!
Problem with truncates label text of LineChart label still exists. Could you have any advice? 0.9.5.9

[2020-10-30 12:08] steveres commented on #5
I implemented something similar in a different way. Rather than supporting Touch in the chart, I added a `SelectedItem` property to the chart and connected that to a slider control, so when someone slides the slider, the chart highlights data they selected. I only implemented it for LineChart, where I needed it. I did this a few years ago, and can submit a PR if it's helpful, along with getting mo

[2020-10-30 15:35] Seuleuzeuh commented on #223
Work around : Set ValueLabelColor property to the same value of Color property.

[2020-10-30 16:41] eman1986 commented on #223
Yes that's a new thing that was recently added.